<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">

		<title>汇银乐虎总后台管理系统-首页配置</title>
		<meta name="referrer" content="never">
		<link rel="stylesheet" type="text/css" href="../../style/plus/jquery-ui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../style/plus/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../style/plus/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="../../style/plus/common.css" />
		<link rel="stylesheet" type="text/css" href="../../style/ContentModule/HomeConfiguration.css" />
	</head>

	<body>
		<div class="common-view">
			<div class="comments">
				<p class="common-little-title">首页配置</p>
				<div class="layout_box">
					<!--头部-->
					<div class="layout_head"></div>
					<!--头部-->
					<!--nav部分-->
					<div class="NavList cont_box">
						<div id="wrapper" style="position: relative;">
							<ul class="scroll">
								<a href="#Recommend_1" data-toggle="tab">
									<li class="active">推荐<span style="display: block;"></span> </li>
								</a>
								<a href="#Baby" data-toggle="tab">
									<li>母婴<span></span> </li>
								</a>
								<a href="#Anurse" data-toggle="tab">
									<li>个护<span></span> </li>
								</a>
								<a href="#DeliciousFood" data-toggle="tab">
									<li>美食<span></span> </li>
								</a>
								<a href="#Digital" data-toggle="tab">
									<li>数码<span></span> </li>
								</a>
								<a href="#Beauty" data-toggle="tab">
									<li>美妆<span></span> </li>
								</a>
								<a href="#Discount" data-toggle="tab">
									<li>优惠<span></span> </li>
								</a>
								<a class="active" href="#ComingSoon" data-toggle="tab">
									<li>签到<span></span> </li>
								</a>
							</ul>
						</div>
						<div class="edit_btns nav_edit_btns" floor-index="1">
							<a href="javascript:void(0);" class="edit">编辑</a>
						</div>
						<div class="edit_area">
							<a href="javascript:void(0);" class="close nav_close">×</a>
							<div class="edit_form">
								<a href="javascript:void(0);" class="add_img nav_add_img">[+]添加导航栏</a>
								<ul class="img_list nav_img_list">
									<!--<li>
										<label><span>导航1:</span><input class="nav_change" type="text"/></label>
									</li>-->
								</ul>
								<a href="javascript:void(0);" class="btn btn_green nav_Preservation">保存</a>
							</div>
						</div>
						<div class="top_line">
							<img src="../../images/Example_6.png" />
						</div>
					</div>
					<!--nav部分-->
					<!--内容区-->
					<div class="tab-content">
						<!--推荐-->
						<div class="layout_cont tab-pane fade in active" id="Recommend_1">
							<!--轮播区域-->
							<ul class="sortable">
								<li id="setname_1">
									<div id="sliders" class="cont_box">
										<div class="swiper-container swiper-container2">
											<div class="swiper-wrapper">
												<div class="swiper-slide"><img src="../../images/0810bj.jpg" /></div>
												<div class="swiper-slide"><img src="../../images/0810dk.jpg" /></div>
												<div class="swiper-slide"><img src="../../images/0810yh.jpg" /></div>
												<div class="swiper-slide"><img src="../../images/0810yh.jpg" /></div>
											</div>
											<!-- 如果需要分页器 -->
											<div class="swiper-pagination"></div>
										</div>
										<div class="edit_btns" floor-index="1">
											<a href="javascript:void(0)" class="edit">编辑</a>
											<a class='delete' href='javascript:void(0);' data-toggle='modal' data-target='#Delete'>删除</a>
										</div>
										<div class="edit_area">
											<a href="javascript:void(0);" class="close">×</a>
											<div class="edit_form">
												<a href="javascript:void(0);" class="add_img AddBanner">[+]添加轮播</a>
												<ul class="img_list AddBannerList">
													<li>
														<div class="img_item">
															<div class="img_num">
																<img alt="" src="http://kstoreimages.b0.upaiyun.com/1479205522607.jpg">
																<span class="num">1</span>
																<a class="img_edit" data-toggle="modal" data-target="#editingPicture">重新上传</a>
															</div>
															<div class="img_link">
																<span class="LinkContent">&gt;链接地址：</span>
																<div class="LinkAddress">
																	<input type="text" />
																	<a class="btn btn-primary Link_Determine">确定</a>
																</div>
																<div class="Reset">
																	<p></p>
																	<a class="btn btn-primary Again">重新设定</a>
																</div>
															</div>
														</div>
														<a class="delete_item" href="javascript:void(0);">×</a>
													</li>
												</ul>
												<a href="javascript:void(0);" class="btn btn_green">保存</a>
											</div>
										</div>
									</div>
								</li>
								<!--轮播区域-->
								<!--头条-->
								<li id="setname_2">
									<div class="cont_box TheHead">
										<div class="TheHeadlines">
											<p class="TheHeadlinesLoGo"><img src="../../images/头条LOGO.png" /> </p>
											<p class="TheHeadlinesCounter">双十一抢钱攻略,快来看吧~</p>
										</div>
										<div class="edit_btns" floor-index="1">
											<a class='delete' href='javascript:void(0);' data-toggle='modal' data-target='#Delete'>删除</a>
										</div>
									</div>
								</li>
								<!--头条-->
								<!--功能列表-->
								<li id="setname_3">
									<div class="cont_box ">
										<div class="img_recommend">
											<div class="col-1">
												<a href="javascript:void(0);">
													<img height="100" src="http://kstoreimages.b0.upaiyun.com/1473391935253.jpg">
												</a>
											</div>
											<div class="col-2">
												<a href="javascript:void(0);">
													<img height="100" src="http://kstoreimages.b0.upaiyun.com/1473391930576.jpg">
												</a>
											</div>
											<div class="col-2">
												<a href="javascript:void(0);">
													<img height="100" src="http://kstoreimages.b0.upaiyun.com/1473391940015.jpg">
												</a>
											</div>
											<div class="col-2">
												<a href="javascript:void(0);">
													<img height="100" src="http://kstoreimages.b0.upaiyun.com/1473391946471.jpg">
												</a>
											</div>
											<div class="col-2">
												<a href="javascript:void(0);">
													<img height="100" src="http://kstoreimages.b0.upaiyun.com/1473391930576.jpg">
												</a>
											</div>
										</div>
										<div class="edit_btns" floor-index="1">
											<a href="javascript:void(0);" class="edit">编辑</a>
											<a class='delete' href='javascript:void(0);' data-toggle='modal' data-target='#Delete'>删除</a>
										</div>
										<div class="edit_area">
											<a href="javascript:void(0);" class="close">×</a>
											<div class="edit_form">
												<a href="javascript:void(0);" class="add_img AddFunction">[+]添加功能图片</a>
												<ul class="img_list AddFunctionList">
													<li>
														<div class="img_item">
															<div class="img_num">
																<img alt="" src="http://kstoreimages.b0.upaiyun.com/1479205522607.jpg">
																<span class="num">1</span>
																<a class="img_edit" data-toggle="modal" data-target="#editingPicture">重新上传</a>
															</div>
															<div class="img_link">
																<div class="img_link_up">
																	<span>&gt;功能选择：</span>
																	<select>
																		<option value="1" selected="selected">领券中心</option>
																		<option value="2">限时折扣</option>
																		<option value="3">充值中心</option>
																		<option value="4">抽奖</option>
																		<option value="5">拼团</option>
																		<option value="6">满减</option>
																	</select>
																</div>
																<div class="img_link_down">
																	<span>&gt;功能名称：</span>
																	<input value="限时折扣" style="color:#FF0000;">
																	<input>
																</div>
															</div>
														</div>
														<a class="delete_item" href="javascript:void(0);">×</a>
													</li>
												</ul>
												<a href="javascript:void(0);" class="btn btn_green">保存</a>
											</div>
										</div>
									</div>
								</li>
								<!--功能列表-->
								<!--楼层1-->
								<li id="setname_4">
									<div class="cont_box">
										<div class="floor">
											<div class="floor_title">
												<div class="floor_title_left">
													<h2>男女鞋</h2>
													<span>副标题</span> </div>
												<div class="floor_title_right">
													查看全部<span>&gt;</span>
												</div>
											</div>
											<ul class="discover_list">
												<li class="col-12">
													<div class="dis_item_cont">
														<a href="javascript:void(0);">
															<img src="http://kstoreimages.b0.upaiyun.com/1472467632153.jpg!160">
															<p class="item_title">戈美其2016新款秋季白色浅口细跟单鞋夜店尖头性感侧空水钻高跟鞋女鞋 粉色 37(黑色38)</p>
														</a>
														<p class="item_price">¥189<span>¥234</span></p>
													</div>
												</li>
												<li class="col-12">
													<div class="dis_item_cont">
														<a href="javascript:void(0);">
															<img src="http://kstoreimages.b0.upaiyun.com/1472467926254.jpg!160">
															<p class="item_title">卓诗尼2016春季新款甜美女鞋浅口尖头一脚蹬平底单鞋女 浅蓝色 36(黑色38)</p>
														</a>
														<p class="item_price">¥ 139<span>¥150</span></p>
													</div>
												</li>
												<li class="col-12">
													<div class="dis_item_cont">
														<a href="javascript:void(0);">
															<img src="http://kstoreimages.b0.upaiyun.com/1472469070779.jpg!160">
															<p class="item_title">约修亚 绑带女鞋2016夏季新款粗跟露趾中跟凉鞋时尚百搭舒适凉鞋女 黑色 36(深蓝色38)</p>
														</a>
														<p class="item_price">¥ 149<span>¥234</span></p>
													</div>
												</li>
												<li class="col-12">
													<div class="dis_item_cont">
														<a href="javascript:void(0);">
															<img src="http://kstoreimages.b0.upaiyun.com/1472469499685.jpg!160">
															<p class="item_title">盾狐鱼嘴凉鞋2016水钻粗跟女夏季时尚性感网纱高跟鞋休闲罗马单鞋女鞋潮 2218黑色 39(黑色39)</p>
														</a>
														<p class="item_price">¥ 158<span>¥234</span></p>
													</div>
												</li>
											</ul>
										</div>
										<div class="edit_btns" floor-index="1">
											<a href="javascript:void(0);" class="edit">编辑</a>
											<a class='delete' href='javascript:void(0);' data-toggle='modal' data-target='#Delete'>删除</a>
										</div>
										<div class="edit_area">
											<a href="javascript:void(0);" class="close">×</a>
											<div class="edit_form">
												<div class="form_item">
													<label class="Title"><span>标题:</span><input type="text"/></label>
													<label class="Subtitle"><span>副标题:</span><input type="text"/></label>
												</div>
												<div class="add_img_box">
													<a href="javascript:void(0);" class="add_img AddFloor" data-toggle="modal" data-target="#AddMerchandisePictures">[+]添加商品</a>
													<ul class="img_list AddFloorList">
														<li>
															<div class="img_item">
																<div class="img_num">
																	<img alt="" src="http://kstoreimages.b0.upaiyun.com/1479205522607.jpg">
																	<span class="num">1</span>
																	<a class="img_edit" data-toggle="modal" data-target="#editingPicture">重新上传</a>
																</div>
																<div class="img_link">
																	<span class="LinkContent">&gt;商品名称：</span>
																	<p class="InputContent">好迪牌洗发露</p>
																</div>
															</div>
															<a class="delete_item" href="javascript:void(0);">×</a>
														</li>
														<li>
															<div class="img_item">
																<div class="img_num">
																	<img alt="" src="http://kstoreimages.b0.upaiyun.com/1479205522607.jpg">
																	<span class="num">2</span>
																	<a class="img_edit" data-toggle="modal" data-target="#editingPicture">重新上传</a>
																</div>
																<div class="img_link">
																	<span class="LinkContent">&gt;商品名称：</span>
																	<p class="InputContent">好迪牌洗发露</p>
																</div>
															</div>
															<a class="delete_item" href="javascript:void(0);">×</a>
														</li>
														<li>
															<div class="img_item">
																<div class="img_num">
																	<img alt="" src="http://kstoreimages.b0.upaiyun.com/1479205522607.jpg">
																	<span class="num">3</span>
																	<a class="img_edit" data-toggle="modal" data-target="#editingPicture">重新上传</a>
																</div>
																<div class="img_link">
																	<span class="LinkContent">&gt;商品名称：</span>
																	<p class="InputContent">好迪牌洗发露</p>
																</div>
															</div>
															<a class="delete_item" href="javascript:void(0);">×</a>
														</li>
														<li>
															<div class="img_item">
																<div class="img_num">
																	<img alt="" src="http://kstoreimages.b0.upaiyun.com/1479205522607.jpg">
																	<span class="num">4</span>
																	<a class="img_edit" data-toggle="modal" data-target="#editingPicture">重新上传</a>
																</div>
																<div class="img_link">
																	<span class="LinkContent">&gt;商品名称：</span>
																	<p class="InputContent">好迪牌洗发露</p>
																</div>
															</div>
															<a class="delete_item" href="javascript:void(0);">×</a>
														</li>
													</ul>
												</div>
												<a href="javascript:void(0);" class="btn btn_green">保存</a>
											</div>
										</div>
									</div>
								</li>
								<!--楼层1-->
								<!--楼层2-->
								<li id="setname_5">
									<div class="cont_box">
										<div class="floor FloorTwo">
											<p class="FloorPicture"><img src="../../images/0810bj.jpg" /></p>
											<div id="wrapper_one">
												<ul class="scroll_one">
													<li class="col-11">
														<div class="dis_item_cont dis_item_cont2">
															<a href="javascript:void(0);">
																<img src="http://kstoreimages.b0.upaiyun.com/1472467926254.jpg!160">
																<p class="item_title">卓诗尼2016春季新款甜美女鞋浅口尖头一脚蹬平底单鞋女 浅蓝色 36(黑色38)</p>
															</a>
															<p class="item_price">¥ 139<span>¥234</span></p>
														</div>
													</li>
													<li class="col-11">
														<div class="dis_item_cont dis_item_cont2">
															<a href="javascript:void(0);">
																<img src="http://kstoreimages.b0.upaiyun.com/1472469070779.jpg!160">
																<p class="item_title">约修亚 绑带女鞋2016夏季新款粗跟露趾中跟凉鞋时尚百搭舒适凉鞋女 黑色 36(深蓝色38)</p>
															</a>
															<p class="item_price">¥ 149<span>¥234</span></p>
														</div>
													</li>
													<li class="col-11">
														<div class="dis_item_cont dis_item_cont2">
															<a href="javascript:void(0);">
																<img src="http://kstoreimages.b0.upaiyun.com/1472469499685.jpg!160">
																<p class="item_title">盾狐鱼嘴凉鞋2016水钻粗跟女夏季时尚性感网纱高跟鞋休闲罗马单鞋女鞋潮 2218黑色 39(黑色39)</p>
															</a>
															<p class="item_price">¥ 158<span>¥234</span></p>
														</div>
													</li>
													<li class="col-11">
														<div class="dis_item_cont dis_item_cont2">
															<a href="javascript:void(0);">
																<img src="http://kstoreimages.b0.upaiyun.com/1472469499685.jpg!160">
																<p class="item_title">盾狐鱼嘴凉鞋2016水钻粗跟女夏季时尚性感网纱高跟鞋休闲罗马单鞋女鞋潮 2218黑色 39(黑色39)</p>
															</a>
															<p class="item_price">¥ 158<span>¥234</span></p>
														</div>
													</li>
													<li class="col-11">
														<div class="dis_item_cont dis_item_cont2">
															<a href="javascript:void(0);">
																<img src="http://kstoreimages.b0.upaiyun.com/1472469499685.jpg!160">
																<p class="item_title">盾狐鱼嘴凉鞋2016水钻粗跟女夏季时尚性感网纱高跟鞋休闲罗马单鞋女鞋潮 2218黑色 39(黑色39)</p>
															</a>
															<p class="item_price">¥ 158<span>¥234</span></p>
														</div>
													</li>
													<li class="col-11">
														<div class="dis_item_cont dis_item_cont2">
															<a href="javascript:void(0);">
																<img src="http://kstoreimages.b0.upaiyun.com/1472469499685.jpg!160">
																<p class="item_title">盾狐鱼嘴凉鞋2016水钻粗跟女夏季时尚性感网纱高跟鞋休闲罗马单鞋女鞋潮 2218黑色 39(黑色39)</p>
															</a>
															<p class="item_price">¥ 158<span>¥234</span></p>
														</div>
													</li>
													<li class="col-11">
														<div class="dis_item_cont dis_item_cont2">
															<a href="javascript:void(0);">
																<img src="http://kstoreimages.b0.upaiyun.com/1472469499685.jpg!160">
																<p class="item_title">盾狐鱼嘴凉鞋2016水钻粗跟女夏季时尚性感网纱高跟鞋休闲罗马单鞋女鞋潮 2218黑色 39(黑色39)</p>
															</a>
															<p class="item_price">¥ 158<span>¥234</span></p>
														</div>
													</li>
													<li class="col-11">
														<div class="dis_item_cont dis_item_cont2">
															<a href="javascript:void(0);">
																<img src="http://kstoreimages.b0.upaiyun.com/1472469499685.jpg!160">
																<p class="item_title">盾狐鱼嘴凉鞋2016水钻粗跟女夏季时尚性感网纱高跟鞋休闲罗马单鞋女鞋潮 2218黑色 39(黑色39)</p>
															</a>
															<p class="item_price">¥ 158<span>¥234</span></p>
														</div>
													</li>
												</ul>
											</div>
										</div>
										<div class="edit_btns" floor-index="1">

											<a href="javascript:void(0);" class="edit">编辑</a>
											<a class='delete' href='javascript:void(0);' data-toggle='modal' data-target='#Delete'>删除</a>
										</div>
										<div class="edit_area">
											<a href="javascript:void(0);" class="close">×</a>
											<div class="edit_form">
												<ul class="img_list AddBannerList">
													<a href="javascript:void(0);">广告图片</a>
													<li>
														<div class="img_item">
															<div class="img_num">
																<img alt="" src="http://kstoreimages.b0.upaiyun.com/1479205522607.jpg">
																<a class="img_edit" data-toggle="modal" data-target="#editingPicture">重新上传</a>
															</div>
															<div class="img_link">
																<span class="LinkContent">&gt;链接地址：</span>
																<div class="LinkAddress">
																	<input type="text" />
																	<a class="btn btn-primary Link_Determine">确定</a>
																</div>
																<div class="Reset">
																	<p></p>
																	<a class="btn btn-primary Again">重新设定</a>
																</div>
															</div>
														</div>
														<a class="delete_item" href="javascript:void(0);">×</a>
													</li>
												</ul>
												<div class="add_img_box">
													<a href="javascript:void(0);" class="add_img AddFloor2" data-toggle="modal" data-target="#AddMerchandisePictures">[+]添加商品</a>
													<ul class="img_list AddFloorList2">
														<li>
															<div class="img_item">
																<div class="img_num">
																	<img alt="" src="http://kstoreimages.b0.upaiyun.com/1479205522607.jpg">
																	<span class="num">1</span>
																	<a class="img_edit" data-toggle="modal" data-target="#editingPicture">重新上传</a>
																</div>
																<div class="img_link">
																	<span class="LinkContent">&gt;商品名称：</span>
																	<p class="InputContent"></p>
																</div>
															</div>
															<a class="delete_item" href="javascript:void(0);">×</a>
														</li>
														<li>
															<div class="img_item">
																<div class="img_num">
																	<img alt="" src="http://kstoreimages.b0.upaiyun.com/1479205522607.jpg">
																	<span class="num">2</span>
																	<a class="img_edit" data-toggle="modal" data-target="#editingPicture">重新上传</a>
																</div>
																<div class="img_link">
																	<span class="LinkContent">&gt;商品名称：</span>
																	<p class="InputContent"></p>
																</div>
															</div>
															<a class="delete_item" href="javascript:void(0);">×</a>
														</li>
														<li>
															<div class="img_item">
																<div class="img_num">
																	<img alt="" src="http://kstoreimages.b0.upaiyun.com/1479205522607.jpg">
																	<span class="num">3</span>
																	<a class="img_edit" data-toggle="modal" data-target="#editingPicture">重新上传</a>
																</div>
																<div class="img_link">
																	<span class="LinkContent">&gt;商品名称：</span>
																	<p class="InputContent"></p>
																</div>
															</div>
															<a class="delete_item" href="javascript:void(0);">×</a>
														</li>
													</ul>
												</div>
												<a href="javascript:void(0);" class="btn btn_green">保存</a>
											</div>
										</div>
									</div>
								</li>
							</ul>
							<!--楼层2-->
							<!--编辑区-->
							<!--<li id="setname_6">-->
							<div class="ad_blocks clearfix" id="setname_6">
								<div class="blocks_item">
									<input type="button" class="btn btn_green add_box AddPicture" value="图片">
									<img src="../../images/Example_1.png" />
								</div>
								<div class="blocks_item">
									<input type="button" class="btn btn_green add_box TigerTiger" value="头条">
									<img src="../../images/Example_5.png" />
								</div>
								<div class="blocks_item">
									<input type="button" class="btn btn_green add_box FunctionList" value="功能列表">
									<img src="../../images/Example_2.png" />
								</div>
								<div class="blocks_item">
									<input type="button" class="btn btn_green add_box type1" value="楼层(类型一)">
									<img src="../../images/Example_3.png" />
								</div>
								<div class="blocks_item">
									<input type="button" class="btn btn_green add_box type2" value="楼层(类型二)">
									<img src="../../images/Example_4.png" />
								</div>
							</div>
							<!--</li>-->
							<!--编辑区-->
						</div>
						<!--推荐-->
						<!--母婴-->
						<div class="layout_cont tab-pane fade" id="Baby">
							<!--编辑区-->
							<div class="ad_blocks clearfix">
								<div class="blocks_item">
									<input type="button" class="btn btn_green add_box AddPicture" value="图片">
									<img src="../../images/Example_1.png" />
								</div>
								<div class="blocks_item">
									<input type="button" class="btn btn_green add_box FunctionList" value="功能列表">
									<img src="../../images/Example_2.png" />
								</div>
								<div class="blocks_item">
									<input type="button" class="btn btn_green add_box type1" value="楼层(类型一)">
									<img src="../../images/Example_3.png" />
								</div>
								<div class="blocks_item">
									<input type="button" class="btn btn_green add_box type2" value="楼层(类型二)">
									<img src="../../images/Example_4.png" />
								</div>
							</div>
							<!--编辑区-->
						</div>
						<!--母婴-->
						<!--个护-->
						<div class="layout_cont tab-pane fade" id="Anurse">
							<!--编辑区-->
							<div class="ad_blocks clearfix">
								<div class="blocks_item">
									<input type="button" class="btn btn_green add_box AddPicture" value="图片">
									<img src="../../images/Example_1.png" />
								</div>
								<div class="blocks_item">
									<input type="button" class="btn btn_green add_box FunctionList" value="功能列表">
									<img src="../../images/Example_2.png" />
								</div>
								<div class="blocks_item">
									<input type="button" class="btn btn_green add_box type1" value="楼层(类型一)">
									<img src="../../images/Example_3.png" />
								</div>
								<div class="blocks_item">
									<input type="button" class="btn btn_green add_box type2" value="楼层(类型二)">
									<img src="../../images/Example_4.png" />
								</div>
							</div>
							<!--编辑区-->
						</div>
						<!--个护-->
						<!--美食-->
						<div class="layout_cont tab-pane fade" id="DeliciousFood">
							<!--编辑区-->
							<div class="ad_blocks clearfix">
								<div class="blocks_item">
									<input type="button" class="btn btn_green add_box AddPicture" value="图片">
									<img src="../../images/Example_1.png" />
								</div>
								<div class="blocks_item">
									<input type="button" class="btn btn_green add_box FunctionList" value="功能列表">
									<img src="../../images/Example_2.png" />
								</div>
								<div class="blocks_item">
									<input type="button" class="btn btn_green add_box type1" value="楼层(类型一)">
									<img src="../../images/Example_3.png" />
								</div>
								<div class="blocks_item">
									<input type="button" class="btn btn_green add_box type2" value="楼层(类型二)">
									<img src="../../images/Example_4.png" />
								</div>
							</div>
							<!--编辑区-->
						</div>
						<!--美食-->
						<!--数码-->
						<div class="layout_cont tab-pane fade" id="Digital">
							<!--编辑区-->
							<div class="ad_blocks clearfix">
								<div class="blocks_item">
									<input type="button" class="btn btn_green add_box AddPicture" value="图片">
									<img src="../../images/Example_1.png" />
								</div>
								<div class="blocks_item">
									<input type="button" class="btn btn_green add_box FunctionList" value="功能列表">
									<img src="../../images/Example_2.png" />
								</div>
								<div class="blocks_item">
									<input type="button" class="btn btn_green add_box type1" value="楼层(类型一)">
									<img src="../../images/Example_3.png" />
								</div>
								<div class="blocks_item">
									<input type="button" class="btn btn_green add_box type2" value="楼层(类型二)">
									<img src="../../images/Example_4.png" />
								</div>
							</div>
							<!--编辑区-->
						</div>
						<!--数码-->
						<!--美妆-->
						<div class="layout_cont tab-pane fade" id="Beauty">
							<!--编辑区-->
							<div class="ad_blocks clearfix">
								<div class="blocks_item">
									<input type="button" class="btn btn_green add_box AddPicture" value="图片">
									<img src="../../images/Example_1.png" />
								</div>
								<div class="blocks_item">
									<input type="button" class="btn btn_green add_box FunctionList" value="功能列表">
									<img src="../../images/Example_2.png" />
								</div>
								<div class="blocks_item">
									<input type="button" class="btn btn_green add_box type1" value="楼层(类型一)">
									<img src="../../images/Example_3.png" />
								</div>
								<div class="blocks_item">
									<input type="button" class="btn btn_green add_box type2" value="楼层(类型二)">
									<img src="../../images/Example_4.png" />
								</div>
							</div>
							<!--编辑区-->
						</div>
						<!--美妆-->
						<!--优惠-->
						<div class="layout_cont tab-pane fade" id="Discount">
							<!--编辑区-->
							<div class="ad_blocks clearfix">
								<div class="blocks_item">
									<input type="button" class="btn btn_green add_box AddPicture" value="图片">
									<img src="../../images/Example_1.png" />
								</div>
								<div class="blocks_item">
									<input type="button" class="btn btn_green add_box FunctionList" value="功能列表">
									<img src="../../images/Example_2.png" />
								</div>
								<div class="blocks_item">
									<input type="button" class="btn btn_green add_box type1" value="楼层(类型一)">
									<img src="../../images/Example_3.png" />
								</div>
								<div class="blocks_item">
									<input type="button" class="btn btn_green add_box type2" value="楼层(类型二)">
									<img src="../../images/Example_4.png" />
								</div>
							</div>
							<!--编辑区-->
						</div>
						<!--优惠-->
						<!--签到-->
						<div class="layout_cont tab-pane fade" id="ComingSoon">
							<!--编辑区-->
							<div class="ad_blocks clearfix">
								<div class="blocks_item">
									<input type="button" class="btn btn_green add_box AddPicture" value="图片">
									<img src="../../images/Example_1.png" />
								</div>
								<div class="blocks_item">
									<input type="button" class="btn btn_green add_box FunctionList" value="功能列表">
									<img src="../../images/Example_2.png" />
								</div>
								<div class="blocks_item">
									<input type="button" class="btn btn_green add_box type1" value="楼层(类型一)">
									<img src="../../images/Example_3.png" />
								</div>
								<div class="blocks_item">
									<input type="button" class="btn btn_green add_box type2" value="楼层(类型二)">
									<img src="../../images/Example_4.png" />
								</div>
							</div>
							<!--编辑区-->
						</div>
						<!--签到-->
					</div>
					<!--保存配置浮层-->
					<div class="save_template">
						<input type="hidden" name="appData">
						<input type="button" id="saveBtn" class="btn btn_green" value="保存配置">
					</div>
					<!--保存配置浮层-->
				</div>
			</div>
		</div>

		<!--新增图片-->
		<div class="modal fade" id="editingPicture" tabindex="-1" role="dialog" aria-labelledby="editingPictureLabel" aria-hidden="true">
			<div class="modal-dialog pictire">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="editingPictureLabel">添加图片</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="comments-list">
								<ul class="nav nav-tabs">
									<li class="active">
										<a href="#On-line" data-toggle="tab">上传本地图片</a>
									</li>
									<li>
										<a href="#local" data-toggle="tab">选择图库图片</a>
									</li>
									<li>
										<a href="#NetworkPicture" data-toggle="tab">添加网络图片</a>
									</li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane fade in active" id="On-line">
										<p><input class="btn btn-primary" type="button" value="选择图片" />
											<input type="file" value="选择图片" />
										</p>
										<ul class="PictureList">
											<li><img src="../../images/0.jpg" />
												<span><img src="../../images/xuanzhong.png"/></span>
											</li>
											<li><img src="../../images/0.jpg" />
												<span><img src="../../images/xuanzhong.png"/></span>
											</li>
											<li><img src="../../images/0.jpg" />
												<span><img src="../../images/xuanzhong.png"/></span>
											</li>
											<li><img src="../../images/0.jpg" />
												<span><img src="../../images/xuanzhong.png"/></span>
											</li>
											<li><img src="../../images/0.jpg" />
												<span><img src="../../images/xuanzhong.png"/></span>
											</li>
											<li><img src="../../images/0.jpg" />
												<span><img src="../../images/xuanzhong.png"/></span>
											</li>
											<li><img src="../../images/0.jpg" />
												<span><img src="../../images/xuanzhong.png"/></span>
											</li>
											<li><img src="../../images/0.jpg" />
												<span><img src="../../images/xuanzhong.png"/></span>
											</li>
											<li><img src="../../images/0.jpg" />
												<span><img src="../../images/xuanzhong.png"/></span>
											</li>
											<li><img src="../../images/0.jpg" />
												<span><img src="../../images/xuanzhong.png"/></span>
											</li>
											<li><img src="../../images/0.jpg" />
												<span><img src="../../images/xuanzhong.png"/></span>
											</li>
											<li><img src="../../images/0.jpg" />
												<span><img src="../../images/xuanzhong.png"/></span>
											</li>
											<li><img src="../../images/0.jpg" />
												<span><img src="../../images/xuanzhong.png"/></span>
											</li>
											<li><img src="../../images/0.jpg" />
												<span><img src="../../images/xuanzhong.png"/></span>
											</li>
											<li><img src="../../images/0.jpg" />
												<span><img src="../../images/xuanzhong.png"/></span>
											</li>
											<li><img src="../../images/0.jpg" />
												<span><img src="../../images/xuanzhong.png"/></span>
											</li>
										</ul>
									</div>
									<div class="tab-pane fade" id="local">
										<div class="SeleclPicture">
											<span>选择图片</span>
											<select class="form-control">
												<option value="0" selected="selected">全部</option>
												<option value="1">首页</option>
												<option value="2">商品</option>
												<option value="3">专题页图片</option>
											</select>
											<input class="btn btn-primary" type="button" value="搜索" />
										</div>
										<ul class="PictureList">
											<li><img src="../../images/0.jpg" />
												<span><img src="../../images/xuanzhong.png"/></span>
											</li>
											<li><img src="../../images/0.jpg" />
												<span><img src="../../images/xuanzhong.png"/></span>
											</li>
											<li><img src="../../images/0.jpg" />
												<span><img src="../../images/xuanzhong.png"/></span>
											</li>
											<li><img src="../../images/0.jpg" />
												<span><img src="../../images/xuanzhong.png"/></span>
											</li>
											<li><img src="../../images/0.jpg" />
												<span><img src="../../images/xuanzhong.png"/></span>
											</li>
											<li><img src="../../images/0.jpg" />
												<span><img src="../../images/xuanzhong.png"/></span>
											</li>
											<li><img src="../../images/0.jpg" />
												<span><img src="../../images/xuanzhong.png"/></span>
											</li>
											<li><img src="../../images/0.jpg" />
												<span><img src="../../images/xuanzhong.png"/></span>
											</li>
											<li><img src="../../images/0.jpg" />
												<span><img src="../../images/xuanzhong.png"/></span>
											</li>
											<li><img src="../../images/0.jpg" />
												<span><img src="../../images/xuanzhong.png"/></span>
											</li>
											<li><img src="../../images/0.jpg" />
												<span><img src="../../images/xuanzhong.png"/></span>
											</li>
											<li><img src="../../images/0.jpg" />
												<span><img src="../../images/xuanzhong.png"/></span>
											</li>
											<li><img src="../../images/0.jpg" />
												<span><img src="../../images/xuanzhong.png"/></span>
											</li>
											<li><img src="../../images/0.jpg" />
												<span><img src="../../images/xuanzhong.png"/></span>
											</li>
											<li><img src="../../images/0.jpg" />
												<span><img src="../../images/xuanzhong.png"/></span>
											</li>
											<li><img src="../../images/0.jpg" />
												<span><img src="../../images/xuanzhong.png"/></span>
											</li>
										</ul>
									</div>
									<div class="tab-pane fade" id="NetworkPicture">
										<div class="NetworkPicturePath">
											<span>网络图片路径</span>
											<input class="form-control" type="text" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary">提交</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
		</div>
		<!--/新增图片-->
		<!--新增商品模态框（Modal） -->
		<div class="modal fade" id="AddMerchandisePictures" tabindex="-1" role="dialog" aria-labelledby="AddMerchandisePicturesLabel" aria-hidden="true">
			<div class="modal-dialog pictire">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="AddMerchandisePicturesLabel">选择商品</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="CommentsList">
								<div class="comments-search">
									<div class="comments-search-item">
										<div class="form-inline">
											<div class="form-group">
												<div class="input-group">
													<span class="input-group-addon">商品名称</span>
													<input class="form-control" type="text" />
												</div>
											</div>
											<div class="form-group">
												<div class="input-group">
													<span class="input-group-addon">商品货号</span>
													<input class="form-control" type="text" />
												</div>
											</div>
											<div class="form-group">
												<a href="javascript:;" class="btn btn-primary">查询</a>
											</div>
										</div>
									</div>
								</div>
								<div class="comments-list">
									<div class="tab-content">
										<div class="tab-pane fade in active">
											<table class="table table-striped table-hover">
												<thead>
													<tr>
														<th class="col-md-2">选择</th>
														<th class="col-md-2">序号</th>
														<th class="col-md-2">图片</th>
														<th class="col-md-2">货品编号</th>
														<th class="col-md-2">货品名称</th>
														<th class="col-md-2">优惠价</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td><input type="checkbox" name="a" /></td>
														<td>1</td>
														<td><img src="../../images/activity221_10(2).jpg" /></td>
														<td>201608261352091</td>
														<td>惠普（HP） HP ...</td>
														<td>849.00</td>
													</tr>
													<tr>
														<td><input type="checkbox" name="a" /></td>
														<td>2</td>
														<td><img src="../../images/activity221_10(2).jpg" /></td>
														<td>201608261352091</td>
														<td>惠普（HP） HP ...</td>
														<td>849.00</td>
													</tr>
													<tr>
														<td><input type="checkbox" name="a" /></td>
														<td>3</td>
														<td><img src="../../images/activity221_10(2).jpg" /></td>
														<td>201608261352091</td>
														<td>惠普（HP） HP ...</td>
														<td>849.00</td>
													</tr>
													<tr>
														<td><input type="checkbox" name="a" /></td>
														<td>4</td>
														<td><img src="../../images/activity221_10(2).jpg" /></td>
														<td>201608261352091</td>
														<td>惠普（HP） HP ...</td>
														<td>849.00</td>
													</tr>
													<tr>
														<td><input type="checkbox" name="a" /></td>
														<td>5</td>
														<td><img src="../../images/activity221_10(2).jpg" /></td>
														<td>201608261352091</td>
														<td>惠普（HP） HP ...</td>
														<td>849.00</td>
													</tr>
													<tr>
														<td><input type="checkbox" name="a" /></td>
														<td>6</td>
														<td><img src="../../images/activity221_10(2).jpg" /></td>
														<td>201608261352091</td>
														<td>惠普（HP） HP ...</td>
														<td>849.00</td>
													</tr>
													<tr>
														<td><input type="checkbox" name="a" /></td>
														<td>7</td>
														<td><img src="../../images/activity221_10(2).jpg" /></td>
														<td>201608261352091</td>
														<td>惠普（HP） HP ...</td>
														<td>849.00</td>
													</tr>
													<tr>
														<td><input type="checkbox" name="a" /></td>
														<td>8</td>
														<td><img src="../../images/activity221_10(2).jpg" /></td>
														<td>201608261352091</td>
														<td>惠普（HP） HP ...</td>
														<td>849.00</td>
													</tr>
													<tr>
														<td><input type="checkbox" name="a" /></td>
														<td>9</td>
														<td><img src="../../images/activity221_10(2).jpg" /></td>
														<td>201608261352091</td>
														<td>惠普（HP） HP ...</td>
														<td>849.00</td>
													</tr>
													<tr>
														<td><input type="checkbox" name="a" /> </td>
														<td>10</td>
														<td><img src="../../images/activity221_10(2).jpg" /></td>
														<td>201608261352091</td>
														<td>惠普（HP） HP ...</td>
														<td>849.00</td>
													</tr>
													<tr>
														<td><input type="checkbox" name="a" /></td>
														<td>11</td>
														<td><img src="../../images/activity221_10(2).jpg" /></td>
														<td>201608261352091</td>
														<td>惠普（HP） HP ...</td>
														<td>849.00</td>
													</tr>
													<tr>
														<td><input type="checkbox" name="a" /> </td>
														<td>12</td>
														<td><img src="../../images/activity221_10(2).jpg" /></td>
														<td>201608261352091</td>
														<td>惠普（HP） HP ...</td>
														<td>849.00</td>
													</tr>
													<tr>
														<td><input type="checkbox" name="a" /></td>
														<td>13</td>
														<td><img src="../../images/activity221_10(2).jpg" /></td>
														<td>201608261352091</td>
														<td>惠普（HP） HP ...</td>
														<td>849.00</td>
													</tr>
													<tr>
														<td><input type="checkbox" name="a" /></td>
														<td>14</td>
														<td><img src="../../images/activity221_10(2).jpg" /></td>
														<td>201608261352091</td>
														<td>惠普（HP） HP ...</td>
														<td>849.00</td>
													</tr>
													<tr>
														<td><input type="checkbox" name="a" /></td>
														<td>15</td>
														<td><img src="../../images/activity221_10(2).jpg" /></td>
														<td>201608261352091</td>
														<td>惠普（HP） HP ...</td>
														<td>849.00</td>
													</tr>

												</tbody>
											</table>
										</div>
									</div>
									<!--分页器-->
									<div class="fixed">
										<div class="list-fenye">
											<span>共100</span>
											<span><em>1/5</em>页</span>
											<ul class="pagination">
												<li>
													<a href="#">&laquo;</a>
												</li>
												<li class="active">
													<a href="#">1</a>
												</li>
												<li>
													<a href="#">2</a>
												</li>
												<li>
													<a href="#">3</a>
												</li>
												<li>
													<a href="#">4</a>
												</li>
												<li>
													<a href="#">5</a>
												</li>
												<li>
													<a href="#">&raquo;</a>
												</li>
											</ul>
											<span>跳转到<input type="text"></span>
											<a href="javascript:;" class="btn btn-primary">确定</a>
										</div>
									</div>
									<!--/分页器-->
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary">提交</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal -->
			</div>
		</div>
		<!--新增商品模态框（Modal） -->
		<!--删除确认提示-->
		<div class="modal fade in" id="Delete" tabindex="-1" role="dialog" aria-labelledby="DeleteLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title" id="DeleteLabel">删除提示</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-12 control-label">你确定要删除此模块吗?</label>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary TwoDelete" data-dismiss="modal">确认</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!--删除确认提示-->
	</body>
	<script src="../../scripts/plus/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
	<!--<script src="../../scripts/plus/jquery-sortable.js" type="text/javascript" charset="utf-8"></script>-->
	<script src="../../scripts/plus/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/swiper.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/iscroll.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/HomeConfiguration.js" type="text/javascript" charset="utf-8"></script>

</html>