<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>汇银乐虎总后台管理系统-页面配置</title>
		<link rel="stylesheet" type="text/css" href="../../style/plus/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../style/plus/common.css" />
		<link rel="stylesheet" type="text/css" href="../../style/ContentModule/PageConfiguration.css" />
	</head>

	<body>

		<div class="common-view">
			<div class="comments">
				<div class="comments-search">
					<p class="common-little-title">页面配置</p>
					<div class="comments-search-item">
						<dl>
							<dt><img src="../../images/首页Tab.png"/></dt>
							<dd>
								<div class="store-submit">
									<a href="HomeConfiguration.html">首页配置</a>
								</div>
							</dd>
						</dl>
						<dl>
							<dt><img src="../../images/满减活动.png"/></dt>
							<dd>
								<div class="store-submit">
									<a href="ActivePage.html">活动页配置</a>
								</div>
							</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>

	</body>
	<script src="../../scripts/plus/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

</html>