<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>汇银乐虎总后台管理系统-乐享卡管理</title>
		<link href="../../style/plus/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="../../style/plus/laydate.css" />
		<link rel="stylesheet" type="text/css" href="../../style/plus/laytime.css" />
		<link href="../../style/plus/common.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="../../style/FinancialManagement/MusicCardManagement.css" />

	</head>

	<body>
		<!--/乐享卡管理-->
		<div class="common-view">
			<!--标题-->
			<p class="common-title">财务管理<span>&gt;</span>乐享卡管理</p>
			<div class="comments">
				<!--乐享卡查询-->
				<div class="comments-search">
					<p class="common-little-title">乐享卡列表</p>
					<div class="comments-search-item">
						<div class="form-inline">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">活动时间</span><input id="beginTime" type="text" class="form-control" />
								</div>
								<span>&nbsp;~&nbsp;&nbsp;</span><input id="endTime" type="text" class="form-control" />
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">活动状态</span>
									<select class="form-control">
										<option value="0" selected>进行中</option>
										<option value="1">未开始</option>
										<option value="1">已结束</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<a href="javascript:;" class="btn btn-primary">查询</a>
							</div>
						</div>
						<div class="data-reset">
							<a data-toggle="modal" data-target="#NewlyAdded" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;新增活动</a>
							<a href="javascript:;" class="btn btn-info"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;&nbsp;导出</a>
						</div>
					</div>
				</div>
				<!--乐享卡查询-->
				<!--乐享卡列表-->
				<div class="comments-list">
					<div class="tab-content">
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th class="col-md-3">活动时间</th>
									<th class="col-md-3">会员名称</th>
									<th class="col-md-2">充值优惠</th>
									<th class="col-md-2">状态</th>
									<th class="col-md-2">控制</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>2016-05-18 9：00：30 - 2016-05-22 19：58：32</td>
									<td>乐享卡会员 /尊享卡会员 </td>
									<td>
										<select class="form-control">
											<option value="0">充值100元(优惠1毛)</option>
											<option value="1">充值200元(优惠1元)</option>
											<option value="2">充值300元(优惠5元)</option>
											<option value="3">充值500元(优惠10元)</option>
										</select>
									</td>
									<td>进行中</td>
									<td>
										<a data-toggle="modal" data-target="#Modify">修改</a>
										<a data-toggle="modal" data-target="#Delete">删除</a>
									</td>
								</tr>
								<tr>
									<td>2016-05-18 9：00：30 - 2016-05-22 19：58：32</td>
									<td>乐享卡会员 /尊享卡会员 </td>
									<td>
										<select class="form-control">
											<option value="0">充值100元(优惠1毛)</option>
											<option value="1">充值200元(优惠1元)</option>
											<option value="2">充值300元(优惠5元)</option>
											<option value="3">充值500元(优惠10元)</option>
										</select>
									</td>
									<td>未开始</td>
									<td>
										<a data-toggle="modal" data-target="#Modify">修改</a>
										<a data-toggle="modal" data-target="#Delete">删除</a>
									</td>
								</tr>
								<tr>
									<td>2016-05-18 9：00：30 - 2016-05-22 19：58：32</td>
									<td>乐享卡会员 /尊享卡会员 </td>
									<td>
										<select class="form-control">
											<option value="0">充值100元(优惠1毛)</option>
											<option value="1">充值200元(优惠1元)</option>
											<option value="2">充值300元(优惠5元)</option>
											<option value="3">充值500元(优惠10元)</option>
										</select>
									</td>
									<td>已结束</td>
									<td>
										<a href="#">查看</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!--分页器-->
					<div class="fixed">
						<div class="list-fenye">
							<span>共100</span>
							<span><em>1/5</em>页</span>
							<ul class="pagination">
								<li>
									<a href="#">&laquo;</a>
								</li>
								<li class="active">
									<a href="#">1</a>
								</li>
								<li>
									<a href="#">2</a>
								</li>
								<li>
									<a href="#">3</a>
								</li>
								<li>
									<a href="#">4</a>
								</li>
								<li>
									<a href="#">5</a>
								</li>
								<li>
									<a href="#">&raquo;</a>
								</li>
							</ul>
							<span>跳转到<input type="text"></span>
							<a href="javascript:;" class="btn btn-primary">确定</a>
						</div>
					</div>
					<!--/分页器-->
				</div>
			</div>
		</div>
		<!--/乐享卡管理-->
		<!--新增模态框（Modal） -->
		<div class="modal fade" id="NewlyAdded" tabindex="-1" role="dialog" aria-labelledby="NewlyAddedLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="NewlyAddedLabel">添加活动</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-3 control-label">活动时间:</label>
								<div class="col-md-9 ActivityTime">
									<input class="form-control" type="text" id="CbeginTime" /><span>至</span>
									<input class="form-control" type="text" id="CendTime" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">参与会员:</label>
								<div class="col-md-9">
									<label class="Locations-box"><input class="Locations" type="checkbox">&nbsp;乐享卡会员</label>
									<label class="Locations-box"><input class="Locations" type="checkbox">&nbsp;尊享卡会员</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">充值面额:</label>
								<div class="col-md-9 AmountOfMoney add-Denomination">
									<input class="form-control" type="text" placeholder="100" />
									<input class="form-control" type="text" placeholder="200" />
									<input class="form-control" type="text" placeholder="300" />
									<input class="form-control add-new-mianzhi" type="button" value="+" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">优惠金额:</label>
								<div class="col-md-9 AmountOfMoney add-money">
									<input class="form-control" type="text" placeholder="0" />
									<input class="form-control" type="text" placeholder="20" />
									<input class="form-control" type="text" placeholder="80" />
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary">提交</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!--新增模态框（Modal） -->
		<!--修改模态框（Modal） -->
		<div class="modal fade" id="Modify" tabindex="-1" role="dialog" aria-labelledby="ModifyLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="ModifyLabel">修改活动</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-3 control-label">活动时间:</label>
								<div class="col-md-9 ActivityTime">
									<input class="form-control" type="text" id="TbeginTime" /><span>至</span>
									<input class="form-control" type="text" id="TendTime" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">参与会员:</label>
								<div class="col-md-9">
									<label class="Locations-box"><input class="Locations" type="checkbox">&nbsp;乐享卡会员</label>
									<label class="Locations-box"><input class="Locations" type="checkbox">&nbsp;尊享卡会员</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">充值面额:</label>
								<div class="col-md-9 AmountOfMoney modify-Denomination">
									<input class="form-control" type="text" placeholder="100" />
									<input class="form-control" type="text" placeholder="200" />
									<input class="form-control" type="text" placeholder="300" />
									<input class="form-control modify-new-mianzhi" type="button" value="+" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">优惠金额:</label>
								<div class="col-md-9 AmountOfMoney modify-money">
									<input class="form-control" type="text" placeholder="0" />
									<input class="form-control" type="text" placeholder="20" />
									<input class="form-control" type="text" placeholder="80" />
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary">提交</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!--修改模态框（Modal） -->
		<!--删除模态框（Modal） -->
		<div class="modal fade" id="Delete" tabindex="-1" role="dialog" aria-labelledby="DeleteLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="DeleteLabel">删除会员</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-12 control-label">你确定要删除会员的信息吗?</label>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary modal-btn-primary">确认</button>
						<button type="button" class="btn btn-default modal-btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!--删除模态框（Modal） -->
	</body>
	<script src="../../scripts/plus/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/laydate.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/common.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		/*新增模块*/
		$(".add-new-mianzhi").on('click', function() {
			var len = $(this).prevAll("input").length;
			if(len <= 9) {
				$(this).before("<input class='form-control' type='text' placeholder='300'/>");
				$(this).parents(".form-group").next().find(".add-money").append("<input class='form-control' type='text' placeholder='80'/>")
			} else {
				$(this).hide();
			}
		});
		/*修改模块*/
		$(".modify-new-mianzhi").on('click', function() {
			var len = $(this).prevAll("input").length;
			if(len <= 9) {
				$(this).before("<input class='form-control' type='text' placeholder='300'/>");
				$(this).parents(".form-group").next().find(".modify-money").append("<input class='form-control' type='text' placeholder='80'/>")
			} else {
				$(this).hide();
			}
		});
	</script>

</html>