<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>汇银乐虎总后台管理系统-缓存管理</title>
		<link rel="stylesheet" type="text/css" href="../../style/plus/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../style/plus/laydate.css" />
		<link rel="stylesheet" type="text/css" href="../../style/plus/laytime.css" />
		<link rel="stylesheet" type="text/css" href="../../style/plus/common.css" />
		<link rel="stylesheet" type="text/css" href="../../style/SystemSettings/CacheManagement.css" />

	</head>

	<body>
		<!--缓存管理-->
		<div class="common-view">
			<!--标题-->
			<p class="common-title">系统管理&nbsp;&gt;&nbsp;缓存管理</p>
			<div class="comments">
				<div class="LeftBox">
					<ul>
						<li><label><span>缓存管理:</span>
							<select class="form-control">
							<option selected="selected" value="0">会员信息</option>
							<option value="1">商品信息</option>
							<option value="2">商品货号信息</option>
							<option value="3">商品ID关系</option>
							<option value="4">商品图片</option>
							<option value="5">商品产地</option>
							<option value="6">商品收藏</option>
							<option value="7">热搜词</option>
							<option value="8">热搜词点击次数统计</option>
							<option value="9">商品评价等级统计数量</option>
							<option value="10">商品规格</option>
							<option value="11">商品规格值</option>
							<option value="12">商品属性</option>
							<option value="13">商品属性值</option>
							<option value="14">促销活动</option>
							<option value="15">满赠促销规则</option>
							<option value="16">满赠促销商品</option>
							<option value="17">满减促销规则</option>
							<option value="18">满赠促销商品</option>
							</select>
						</label></li>
						<li><label><span>缓存Key:</span><input class="form-control" type="text" /></label></li>
						<li><label><span>缓存时间:</span><input id="beginTime" class="form-control" type="text" /><b>~</b><input id="endTime" class="form-control" type="text" /></label></li>
					</ul>
				</div>
				<div class="store-submit" style="overflow: auto; zoom: 1;">
					<a href="javascript:;">提交</a>
				</div>
			</div>
		</div>
		<!--缓存管理-->

	</body>
	<script src="../../scripts/plus/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/laydate.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/common.js" type="text/javascript" charset="utf-8"></script>

</html>