<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>汇银乐虎总后台管理系统-修改消息模板</title>
		<link rel="stylesheet" type="text/css" href="../../style/plus/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../../style/SystemSettings/changeMessageCenter.css"/>
	</head>

	<body>
		<!--公共样式-头部-->
		<header>修改消息版</header>
		<!--内容部分-->
		<div class="counent">
			<div class="counentBox">
				<div class="counentBox_left">
					<p>消息名称&nbsp;:</p>
					<p class="text" style="margin-top: 30px;">消息内容&nbsp;:</p>
					<p style="margin-top: 145px;">启用状态&nbsp;:</p>
					<p style="margin-top: 40px;">发送方式&nbsp;:</p>
				</div>
				<div class="counentBox_right">
					<p><input type="text" placeholder="" /></p>
					<p class="textarea"><textarea style="resize:none; overflow-y:scroll;"></textarea></p>
					<p class="button_switch"><b class="Enable">启用</b><b class="Disable">停用</b></p>
					<p>
						<div style="float: left; margin-left:10px;"><input type="checkbox" />手机短信 </div>
						<div style="float: left; margin-left:10px;"><input type="checkbox" />App通知栏 </div>
						<div style="float: left; margin-left:10px;"><input type="checkbox" />站内消息 </div>
					</p>
				</div>
				<button class="Determine">提交</button>
			</div>
		</div>
	</body>
	<script  src="../../scripts/plus/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script  src="../../scripts/plus/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(".button_switch b").on('click', function() {
			$(this).css('background', '#59abf0');
			$(this).siblings().css('background', '#96989b');
		})
	</script>

</html>