<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>汇银乐虎总后台管理系统-热搜词管理</title>
		<link rel="stylesheet" type="text/css" href="../../style/plus/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../style/plus/common.css" />
		<link rel="stylesheet" type="text/css" href="../../style/SystemSettings/hotWordSearchManagement.css" />

	</head>

	<body>
		<div class="common-view">
			<!--标题-->
			<p class="common-title">系统设置&nbsp;&gt;&nbsp;热搜词管理</p>
			<!--主体内容-->
			<div class="HotSearch">
				<!--热搜词列表-->
				<div class="table_box">
					<div>母婴<img src="../../images/CloseButton.png" /></div>
					<div>德亚<img src="../../images/CloseButton.png" /></div>
					<div>美国直邮<img src="../../images/CloseButton.png" /></div>
					<div>Swiss<img src="../../images/CloseButton.png" /></div>
					<div>母婴<img src="../../images/CloseButton.png" /></div>
					<div>德亚<img src="../../images/CloseButton.png" /></div>
					<div>美国直邮<img src="../../images/CloseButton.png" /></div>
					<div>Swiss<img src="../../images/CloseButton.png" /></div>
					<div>美国直邮<img src="../../images/CloseButton.png" /></div>
					<div>Swiss<img src="../../images/CloseButton.png" /></div>
				</div>
				<!--/热搜词列表-->
				<!--搜索框-->
				<div class="search_box">
					<p>新增热搜词:</p>
					<input class="form-control" type="text" />
					<a class="btn btn-primary">确定</a>
				</div>
				<!--/搜索框-->
				<div class="table_list">
					<table class="table table-condensed">
						<thead>
							<tr>
								<th>热搜词名称</th>
								<th>搜索次数</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>母婴</td>
								<td>222</td>
							</tr>
							<tr>
								<td>母婴</td>
								<td>222</td>
							</tr>
							<tr>
								<td>母婴</td>
								<td>222</td>
							</tr>
						</tbody>
					</table>
					<table class="table table-condensed">
						<thead>
							<tr>
								<th>热搜词名称</th>
								<th>搜索次数</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>母婴</td>
								<td>222</td>
							</tr>
							<tr>
								<td>母婴</td>
								<td>222</td>
							</tr>
							<tr>
								<td>母婴</td>
								<td>222</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		</div>

	</body>
	<script src="../../scripts/plus/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

</html>