<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>汇银乐虎总后台管理系统-新增管理组页面</title>
		<link rel="stylesheet" type="text/css" href="../../style/plus/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../../style/plus/common.css" />
		<link rel="stylesheet" type="text/css" href="../../style/SystemSettings/NewManagementGroup.css" />
	</head>

	<body>
		<div class="common-view">
			<!--标题-->
			<p class="common-title">系统设置<span>&gt;</span>新增管理组</p>
			<div class="comments">
				<!--header_title部分 -->
				<p class="header_title"><span>新增管理员名称:</span><input class="form-control" type="text" />&nbsp;&nbsp;&nbsp;
					<a href="PermissionSetting.html" class="btn btn-primary">确定</a>
				</p>
				<!--内容部分-->
				<div id="wrappen">
					<!--系统设置-->
					<div class="counent">
						<label><input  class="Location Parent" type="checkbox"  />&nbsp;系统设置</label>
						<ul class="checkbox_ClassA_lists">
							<li>
								<div class="checkbox_ClassB_lists"><label><input class="Location Parent_one" type="checkbox"/>&nbsp;权限设置</label></div>
								<div class="checkbox_ClassC_lists">
									<label><input class="Location"  type="checkbox"  />&nbsp;管理组 【&nbsp;</label>
									<label><input class="Location"  type="checkbox"  />&nbsp;新增&nbsp;</label><label><input class="Location"  type="checkbox"  />&nbsp;修改&nbsp;</label><label><input class="Location"  type="checkbox"  />&nbsp;删除&nbsp;</label><label><input class="Location"  type="checkbox"  />&nbsp;启停&nbsp;】</label>
								</div>
								<div class="checkbox_ClassC_lists">
									<label><input class="Location"  type="checkbox"  />&nbsp;管理员 【&nbsp;</label>
									<label><input  class="Location" type="checkbox"  />&nbsp;新增&nbsp;&nbsp; </label> <label><input  class="Location" type="checkbox"  />&nbsp;修改&nbsp;</label> <label><input  class="Location" type="checkbox"  />&nbsp;删除&nbsp;</label> <label><input  class="Location" type="checkbox"  />&nbsp;重置密码&nbsp;</label> <label><input  class="Location" type="checkbox"  />&nbsp;查看日志&nbsp; </label> <label><input  class="Location" type="checkbox"  />&nbsp;启停&nbsp;】</label>
								</div>
							</li>
							<li>
								<div class="checkbox_ClassB_lists"> <label><input class="Location Parent_one"  type="checkbox"  />&nbsp;站点设置</label></div>
								<div class="checkbox_ClassC_lists">
									<label><input class="Location"  type="checkbox"  />&nbsp;全站设置 【&nbsp;</label>
									<label><input class="Location"  type="checkbox"  />&nbsp;修改&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;提交&nbsp;】</label>
								</div>
								<div class="checkbox_ClassC_lists" style="margin-left: 125px;">
									<label><input class="Location"  type="checkbox"  />&nbsp;订单设置 【&nbsp;</label>
									<label><input class="Location"  type="checkbox"  />&nbsp;修改&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;提交&nbsp;】</label>
								</div>
							</li>
							<li>
								<div class="checkbox_ClassB_lists"> <label><input class="Location Parent_one"  type="checkbox"  />&nbsp;消息中心</label></div>
								<div class="checkbox_ClassC_lists">
									<label><input class="Location"  type="checkbox"  />&nbsp;修改&nbsp;&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;启停&nbsp;</label>
								</div>
							</li>
							<li>
								<div class="checkbox_ClassB_lists"> <label><input class="Location Parent_one"  type="checkbox"  />&nbsp;支付方式</label></div>
								<div class="checkbox_ClassC_lists">
									<label><input class="Location"  type="checkbox"  />&nbsp;修改&nbsp;&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;启停&nbsp; &nbsp;&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;新增&nbsp;</label>
								</div>

							</li>
							<li>
								<div class="checkbox_ClassB_lists"> <label><input class="Location Parent_one"  type="checkbox"  />&nbsp;图片管理</label></div>
								<div class="checkbox_ClassC_lists">
									<label><input class="Location"  type="checkbox"  />&nbsp;新增&nbsp;&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;删除&nbsp;</label>
								</div>
							</li>

							<li class="last_lists">
								<div class="checkbox_ClassB_lists"> <label><input class="Location Parent_one"  type="checkbox"  />&nbsp;热搜词管理</label></div>
								<div class="checkbox_ClassC_lists" style="margin-left: 25px;">
									<label><input class="Location"  type="checkbox"  />&nbsp;新增&nbsp;&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;删除&nbsp;</label>
								</div>
							</li>
						</ul>
					</div>
					<!--店铺管理-->
					<div class="counent">
						<label><input class="Location Parent" type="checkbox"/>&nbsp;店铺管理</label>
						<ul class="checkbox_ClassA_lists">
							<li>
								<div class="checkbox_ClassB_lists"> <label><input class="Location Parent_one"  type="checkbox"  />&nbsp;店铺管理</label></div>
								<div class="checkbox_ClassC_lists">
									<label><input  class="Location" type="checkbox"  />&nbsp;普通信息编辑 &nbsp;&nbsp;</label> <label> <input  class="Location" type="checkbox"  />&nbsp;查看 &nbsp;&nbsp;</label> <label><input  class="Location" type="checkbox"  />&nbsp;审核 &nbsp;&nbsp;</label> <label><input  class="Location" type="checkbox"  />&nbsp;新增店铺 &nbsp;&nbsp;</label> <label><input  class="Location" type="checkbox"  />&nbsp;关闭店铺</label>
								</div>
							</li>
							<li class="last_lists">
								<div class="checkbox_ClassB_lists"> <label><input class="Location Parent_one"  type="checkbox"  />&nbsp;店铺等级</label></div>
								<div class="checkbox_ClassC_lists">
									<label><input  class="Location" type="checkbox"  />&nbsp;启停 &nbsp;&nbsp;</label> <label><input  class="Location" type="checkbox"  />&nbsp;修改&nbsp;&nbsp;</label> <label><input  class="Location" type="checkbox"  />&nbsp;删除&nbsp;&nbsp;</label> <label><input  class="Location" type="checkbox"  />&nbsp;新增等级</label>
								</div>
							</li>
						</ul>
					</div>
					<!--商品管理-->
					<div class="counent">
						<label><input class="Location Parent" type="checkbox"  />&nbsp;商品管理</label>
						<ul class="checkbox_ClassA_lists">
							<li>
								<div class="checkbox_ClassB_lists"> <label><input class="Location Parent_one"  type="checkbox"  />&nbsp;分类管理</label></div>
								<div class="checkbox_ClassC_lists">
									<label><input class="Location"  type="checkbox"  />&nbsp;启停&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;编辑&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;删除&nbsp;&nbsp;</label> <label><input class="Location" type="checkbox"  />&nbsp;新增&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;启停</label>
								</div>
							</li>
							<li>
								<div class="checkbox_ClassB_lists"> <label><input class="Location Parent_one"  type="checkbox"  />&nbsp;商品品牌</label></div>
								<div class="checkbox_ClassC_lists">
									<label><input class="Location"  type="checkbox"  />&nbsp;启停&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;编辑&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;删除&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;新增&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;启停</label>
								</div>
							</li>
							<li>
								<div class="checkbox_ClassB_lists"> <label><input class="Location Parent_one"  type="checkbox"  />&nbsp;商品产地</label></div>
								<div class="checkbox_ClassC_lists">
									<label><input class="Location"  type="checkbox"  />&nbsp;启停&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;编辑&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;删除&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;新增&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;启停</label>
								</div>
							</li>
							<li>
								<div class="checkbox_ClassB_lists"> <label><input class="Location Parent_one"  type="checkbox"  />&nbsp;商品管理</label></div>
								<div class="checkbox_ClassC_lists">
									<label><input class="Location"  type="checkbox"  />&nbsp;查看 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;编辑 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;删除 &nbsp;&nbsp;</label><label><input class="Location"  type="checkbox"  />&nbsp;处理 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;导出 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;审核&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;上下架</label>
								</div>
							</li>
							<li class="last_lists">
								<div class="checkbox_ClassB_lists"> <label><input class="Location Parent_one"  type="checkbox"  />&nbsp;评论管理</label></div>
								<div class="checkbox_ClassC_lists">
									<label><input class="Location"  type="checkbox"  />&nbsp;回复&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;删除&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;新增</label>
								</div>
							</li>
						</ul>
					</div>
					<!--会员管理-->
					<div class="counent">
						<label><input class="Location Parent"  type="checkbox"  />&nbsp;会员管理</label>
						<ul class="checkbox_ClassA_lists">
							<li>
								<div class="checkbox_ClassB_lists"> <label><input class="Location Parent_one"  type="checkbox"  />&nbsp;会员列表</label></div>
								<div class="checkbox_ClassC_lists">
									<label><input class="Location"  type="checkbox"  />&nbsp;编辑 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;重置密码 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;列入黑名单 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;发送站内信 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;查看账户记录 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;新增会员</label>
								</div>
							</li>
							<li>
								<div class="checkbox_ClassB_lists"> <label><input class="Location Parent_one"  type="checkbox"  />&nbsp;会员等级</label></div>
								<div class="checkbox_ClassC_lists">
									<label><input class="Location"  type="checkbox"  />&nbsp;编辑 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;删除 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;新增</label>
								</div>
							</li>
							<li>
								<div class="checkbox_ClassB_lists"> <label><input class="Location Parent_one"  type="checkbox"  />&nbsp;会员积分</label></div>
								<div class="checkbox_ClassC_lists">
									<label><input class="Location"  type="checkbox"  />&nbsp;积分变动 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;积分规则</label>
								</div>
							</li>
							<li class="last_lists">
								<div class="checkbox_ClassB_lists"> <label><input class="Location Parent_one"  type="checkbox"  />&nbsp;投诉管理</label></div>
								<div class="checkbox_ClassC_lists">
									<label><input class="Location"  type="checkbox"  />&nbsp;处理 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;关闭</label>
								</div>
							</li>
						</ul>
					</div>
					<!--订单管理-->
					<div class="counent">
						<label><input  class="Location Parent" type="checkbox"  />&nbsp;订单管理</label>
						<ul class="checkbox_ClassA_lists">
							<li>
								<div class="checkbox_ClassB_lists"> <label><input class="Location Parent_one"  type="checkbox"  />&nbsp;订单列表</label></div>
								<div class="checkbox_ClassC_lists">
									<label><input class="Location"  type="checkbox"  />&nbsp;查询 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;导出 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;查看订单 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;取消订单 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;备注订单 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;收到货款&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;审核订单&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;订单发货&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;修改物流&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;直接完成</label>
								</div>
							</li>
							<li class="last_lists">
								<div class="checkbox_ClassB_lists"> <label><input class="Location Parent_one"  type="checkbox"  />&nbsp;退货订单</label></div>
								<div class="checkbox_ClassC_lists">
									<label><input class="Location"  type="checkbox"  />&nbsp;查询 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;导出&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;查询订单</label>
								</div>
							</li>
						</ul>
					</div>
					<!--财务管理-->
					<div class="counent">
						<label><input class="Location Parent"  type="checkbox"  />&nbsp;财务管理</label>
						<ul class="checkbox_ClassA_lists">
							<li>
								<div class="checkbox_ClassB_lists"> <label><input class="Location Parent_one"  type="checkbox"  />&nbsp;对账管理</label></div>
								<div class="checkbox_ClassC_lists">
									<label>	<input class="Location"  type="checkbox"  />&nbsp;查询 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;导出 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;查看订单 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;导出订单 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;结算 &nbsp;&nbsp;</label> <label><input class="Location" type="checkbox"  />&nbsp;发送对账单&nbsp;&nbsp;</label> <label><input class="Location" type="checkbox"  />&nbsp;队长调整单</label>
								</div>
							</li>
							<li>
								<div class="checkbox_ClassB_lists"> <label><input class="Location Parent_one"  type="checkbox"  />&nbsp;开票管理</label></div>
								<div class="checkbox_ClassC_lists">
									<label><input class="Location"  type="checkbox"  />&nbsp;查询 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;导出 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;查看订单 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;导出订单 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;开票</label>
								</div>
							</li>
							<li class="last_lists">
								<div class="checkbox_ClassB_lists"> <label><input class="Location Parent_one"  type="checkbox"  />&nbsp;退款管理</label></div>
								<div class="checkbox_ClassC_lists">
									<label><input class="Location"  type="checkbox"  />&nbsp;查询 &nbsp;&nbsp;</label><label><input  class="Location"  type="checkbox"  />&nbsp;导出&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;查看订单&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;退款</label>
								</div>
							</li>
						</ul>
					</div>
					<!--内容管理-->
					<div class="counent">
						<label><input class="Location Parent"  type="checkbox"  />&nbsp;内容管理</label>
						<ul class="checkbox_ClassA_lists">
							<li>
								<div class="checkbox_ClassB_lists"> <label><input class="Location Parent_one"  type="checkbox"  />&nbsp;页面配置</label></div>
								<div class="checkbox_ClassC_lists">
									<label><input class="Location"  type="checkbox"  />&nbsp;管理页面</label>
								</div>
							</li>
							<li class="last_lists">
								<div class="checkbox_ClassB_lists"> <label><input  class="Location Parent_one"  type="checkbox"  />&nbsp;文章管理</label></div>
								<div class="checkbox_ClassC_lists">
									<label><input class="Location"  type="checkbox"  />&nbsp;查看 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;修改&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;删除&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;新增文章&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;新增类型</label>
								</div>
							</li>
						</ul>
					</div>
					<!--营销管理-->
					<div class="counent">
						<label><input class="Location Parent"   type="checkbox"  />&nbsp;营销管理</label>
						<ul class="checkbox_ClassA_lists">
							<li>
								<div class="checkbox_ClassB_lists"> <label><input class="Location Parent_one"  type="checkbox"  />&nbsp;乐虎券</label></div>
								<div class="checkbox_ClassC_lists">
									<label><input class="Location"  type="checkbox"  />&nbsp;查询 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;导出 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;新增活动 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;关闭 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;审核 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;券码管理&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;增加发行量&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;查询&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;导出</label>
								</div>
							</li>
							<li>
								<div class="checkbox_ClassB_lists"> <label><input class="Location Parent_one"  type="checkbox"  />&nbsp;单品促销</label></div>
								<div class="checkbox_ClassC_lists">
									<label><input class="Location"  type="checkbox"  />&nbsp;查询 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;导出 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;新增活动 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;保存 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;取消 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;修改&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;数据导出&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;报告情况&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;活动商品&nbsp;&nbsp;</label> <label><input class="Location"   type="checkbox"  />&nbsp;审核&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;取消&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;导出</label>
								</div>
							</li>
							<li>
								<div class="checkbox_ClassB_lists"> <label><input class="Location Parent_one"  type="checkbox"  />&nbsp;满返活动</label></div>
								<div class="checkbox_ClassC_lists">
									<label><input class="Location"  type="checkbox"  />&nbsp;查询 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;导出 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;新增活动 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;保存 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;取消 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;修改&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;数据导出&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;报告情况&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;活动商品&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;审核&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;取消&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;导出</label>
								</div>
							</li>
							<li class="last_lists">
								<div class="checkbox_ClassB_lists"> <label><input class="Location Parent_one"  type="checkbox"  />&nbsp;拼团活动</label></div>
								<div class="checkbox_ClassC_lists">
									<label><input class="Location"  type="checkbox"  />&nbsp;查询 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;导出 &nbsp;&nbsp;</label> <label><input class="Location"   type="checkbox"  />&nbsp;新增活动 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;保存 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;删除 &nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;修改&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;审核&nbsp;&nbsp;</label> <label><input class="Location"  type="checkbox"  />&nbsp;查看订单</label>
								</div>
							</li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>

	</body>
	<script src="../../scripts/plus/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/NewManagementGroup.js" ype="text/javascript" charset="utf-8"></script>

</html>