<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>汇银乐虎总后台管理系统-支付方式</title>
		<link rel="stylesheet" type="text/css" href="../../style/plus/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../style/plus/lightbox.css" />
		<link rel="stylesheet" type="text/css" href="../../style/plus/common.css" />
		<link rel="stylesheet" type="text/css" href="../../style/SystemSettings/paymentMethod.css" />
	</head>

	<body>
		<!--支付方式-->
		<div class="common-view">
			<!--标题-->
			<p class="common-title">系统设置&nbsp;&gt;&nbsp;支付方式</p>
			<div class="comments">
				<!--支付查询-->
				<div class="comments-search">
					<p class="common-little-title">支付列表</p>
					<div class="comments-search-item">
					</div>
				</div>
				<!--/支付查询-->
				<!--支付方式列表-->
				<div class="comments-list">
					<div class="tab-content">
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th class="col-md-2">序号</th>
									<th class="col-md-2">支付方式</th>
									<th class="col-md-3">图标</th>
									<th class="col-md-3">启用状态</th>
									<th class="col-md-2">控制</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>支付宝</td>
									<td>
										<a class="example-image-link" href="../../images/activity221_06(6).jpg" data-lightbox="example-1">
											<img class="example-image" src="../../images/activity221_06(6).jpg" alt="image-1" />
										</a>
									</td>
									<td>
										<div class="common-box common-box-active"><input type="button" class="common-bbtn" data-value="0"><span>OFF</span></div>
									</td>
									<td>
										<a data-toggle="modal" data-target="#modifyPayment">修改</a>
									</td>
								</tr>
								<tr>
									<td>2</td>
									<td>微信支付</td>
									<td>
										<a class="example-image-link" href="../../images/activity221_06(6).jpg" data-lightbox="example-1">
											<img class="example-image" src="../../images/activity221_06(6).jpg" alt="image-1" />
										</a>
									</td>
									<td>
										<div class="common-box common-box-active"><input type="button" class="common-bbtn" data-value="0"><span>OFF</span></div>
									</td>
									<td>
										<a data-toggle="modal" data-target="#modifyPayment">修改</a>
									</td>
								</tr>
								<tr>
									<td>3</td>
									<td>银联支付</td>
									<td>
										<a class="example-image-link" href="../../images/activity221_06(6).jpg" data-lightbox="example-1">
											<img class="example-image" src="../../images/activity221_06(6).jpg" alt="image-1" />
										</a>
									</td>
									<td>
										<div class="common-box common-box-active"><input type="button" class="common-bbtn" data-value="0"><span>OFF</span></div>
									</td>
									<td>
										<a data-toggle="modal" data-target="#modifyPayment">修改</a>
									</td>
								</tr>
								<tr>
									<td>4</td>
									<td>乐享卡支付</td>
									<td>
										<a class="example-image-link" href="../../images/activity221_06(6).jpg" data-lightbox="example-1">
											<img class="example-image" src="../../images/activity221_06(6).jpg" alt="image-1" />
										</a>
									</td>
									<td>
										<div class="common-box common-box-active"><input type="button" class="common-bbtn" data-value="0"><span>OFF</span></div>
									</td>
									<td>
										<a data-toggle="modal" data-target="#modifyPayment">修改</a>
									</td>
								</tr>
								<tr>
									<td>5</td>
									<td>积分抵扣</td>
									<td>
										<a class="example-image-link" href="../../images/activity221_06(6).jpg" data-lightbox="example-1">
											<img class="example-image" src="../../images/activity221_06(6).jpg" alt="image-1" />
										</a>
									</td>
									<td>
										<div class="common-box common-box-active"><input type="button" class="common-bbtn" data-value="0"><span>OFF</span></div>
									</td>
									<td>
										<a data-toggle="modal" data-target="#modifyPayment">修改</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!--支付方式列表-->
				<!--分页器-->
				<div class="fixed">
					<div class="list-fenye">
						<span>共100</span>
						<span><em>1/5</em>页</span>
						<ul class="pagination">
							<li>
								<a href="#">&laquo;</a>
							</li>
							<li class="active">
								<a href="#">1</a>
							</li>
							<li>
								<a href="#">2</a>
							</li>
							<li>
								<a href="#">3</a>
							</li>
							<li>
								<a href="#">4</a>
							</li>
							<li>
								<a href="#">5</a>
							</li>
							<li>
								<a href="#">&raquo;</a>
							</li>
						</ul>
						<span>跳转到<input type="text"></span>
						<a href="javascript:;" class="btn btn-primary ">确定</a>
					</div>
				</div>
				<!--/分页器-->
			</div>
		</div>
		<!--/支付方式-->
		<!-- 修改支付方式模态框（Modal） -->
		<div class="modal fade" id="modifyPayment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">修改支付方式</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-3 control-label">支付名称:</label>
								<div class="col-md-5">
									<input type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">缩略图:</label>
								<div class="col-md-9 browse">
									<input type="text" class="form-control" readonly="readonly" />
									<a class="btn btn-primary">上传</a>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">开启状态:</label>
								<div class="col-md-9">
									<label class="Locations-box"><input class="Locations" type="radio" name="radio"/>&nbsp;启用</label>
									<label class="Locations-box"><input class="Locations" type="radio" name="radio"/>&nbsp;停用</label>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary modal-btn-primary">确认</button>
						<button type="button" class="btn btn-default modal-btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!-- 修改支付方式模态框（Modal） -->
	</body>
	<script src="../../scripts/plus/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/lightBox.js" type="text/javascript" charset="utf-8"></script>

</html>