<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>汇银乐虎总后台管理系统-权限设置</title>
		<link rel="stylesheet" type="text/css" href="../../style/plus/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../style/plus/common.css" />
		<link rel="stylesheet" type="text/css" href="../../style/SystemSettings/PermissionSetting.css" />
	</head>

	<body>
		<!--权限设置-->
		<div class="common-view">
			<!--标题-->
			<p class="common-title">系统设置<span>&gt;</span>权限设置</p>
			<div class="comments">
				<!--权限查询-->
				<div class="comments-search">
					<p class="common-little-title">设置列表</p>
					<div class="comments-search-item">
						<div class="data-reset">
							<a style="display: block;" class="btn btn-info" data-toggle="modal" data-target="#NewlyAdded"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;新增管理员</a>
							<a href="NewManagementGroup.html" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;新增管理组</a>
						</div>
					</div>
				</div>
				<!--/权限查询-->
				<div class="comments-list">
					<ul class="nav nav-tabs Administration">
						<li class="active">
							<a href="#Administrators" data-toggle="tab">管理员</a>
						</li>
						<li>
							<a href="#ManagementGroup" data-toggle="tab">管理组</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane fade in active" id="Administrators">
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th class="col-md-3">管理员名称</th>
										<th class="col-md-2">所属管理组</th>
										<th class="col-md-2">启用状态</th>
										<th class="col-md-2">上次登录时间</th>
										<th class="col-md-3">控制</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>我不是ADMIN</td>
										<td>超级管理员</td>
										<td>
											<div class="common-box common-box-active"><input type="button" class="common-bbtn" data-value="0"><span>OFF</span></div>
										</td>
										<td>2017-01-11 12:21:22</td>
										<td>
											<a data-toggle="modal" data-target="#modifyModel">修改</a>
											<a data-toggle="modal" data-target="#Delete">删除</a>
											<a data-toggle="modal" data-target="#ResetModel">重置密码</a>
											<a data-toggle="modal" data-target="#LoginLog">登录日志</a>
										</td>
									</tr>
									<tr>
										<td>我不是ADMIN</td>
										<td>超级管理员</td>
										<td>
											<div class="common-box common-box-active"><input type="button" class="common-bbtn" data-value="0"><span>OFF</span></div>
										</td>
										<td>2017-01-11 12:21:22</td>
										<td>
											<a data-toggle="modal" data-target="#modifyModel">修改</a>
											<a data-toggle="modal" data-target="#Delete">删除</a>
											<a data-toggle="modal" data-target="#ResetModel">重置密码</a>
											<a data-toggle="modal" data-target="#LoginLog">登录日志</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="tab-pane fade" id="ManagementGroup">
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th class="col-md-4">管理组名称</th>
										<th class="col-md-4">启用状态</th>
										<th class="col-md-4">控制</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>超级管理组</td>
										<td>
											<div class="common-box common-box-active"><input type="button" class="common-bbtn" data-value="0"><span>OFF</span></div>
										</td>
										<td>
											<a href="changeManagementGroup.html">修改</a>
											<a data-toggle="modal" data-target="#Delete">删除</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!--分页器-->
						<div class="fixed">
							<div class="list-fenye">
								<span>共100</span>
								<span><em>1/5</em>页</span>
								<ul class="pagination">
									<li>
										<a href="#">&laquo;</a>
									</li>
									<li class="active">
										<a href="#">1</a>
									</li>
									<li>
										<a href="#">2</a>
									</li>
									<li>
										<a href="#">3</a>
									</li>
									<li>
										<a href="#">4</a>
									</li>
									<li>
										<a href="#">5</a>
									</li>
									<li>
										<a href="#">&raquo;</a>
									</li>
								</ul>
								<span>跳转到<input type="text"></span>
								<a href="javascript:;" class="btn btn-primary">确定</a>
							</div>
						</div>
						<!--/分页器-->
					</div>
				</div>
				<!--管理员/组-->
			</div>
		</div>
		<!--/权限设置-->
		<!-- 新增管理员模态框（Modal） -->
		<div class="modal fade" id="NewlyAdded" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">新增管理员</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-3 control-label">管理员名称:</label>
								<div class="col-md-5">
									<input type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">设置密码:</label>
								<div class="col-sm-5">
									<input type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">所属管理组:</label>
								<div class="col-md-9">
									<label class="radio-inline">
                                            <select class="form-control">
                                                <option value="0" selected="selected">超级管理员</option>
                                                <option value="1">财务主管</option>
                                                <option value="1">财务专员</option>
                                                <option value="1">客服主管</option>
                                            </select>
                                        </label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">开启状态:</label>
								<div class="col-md-9">
									<label class="Locations-box"><input class="Locations" type="radio" name="radio"/>&nbsp;启用</label>
									<label class="Locations-box"><input class="Locations" type="radio" name="radio"/>&nbsp;停用</label>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary modal-btn-primary">确认</button>
						<button type="button" class="btn btn-default modal-btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!-- /新增管理员模态框（Modal） -->
		<!-- 修改管理员模态框（Modal） -->
		<div class="modal fade" id="modifyModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">修改管理员</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-3 control-label">管理员名称:</label>
								<div class="col-md-5">
									<input type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">设置密码:</label>
								<div class="col-sm-5">
									<input type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">所属管理组:</label>
								<div class="col-md-9">
									<label class="radio-inline">
                                            <select class="form-control">
                                                <option value="0" selected>超级管理员</option>
                                                <option value="1">财务主管</option>
                                                <option value="1">财务专员</option>
                                                <option value="1">客服主管</option>
                                           </select>
                                        </label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">开启状态:</label>
								<div class="col-md-9">
									<label class="Locations-box"><input class="Locations" type="radio" name="radio"/>&nbsp;启用</label>
									<label class="Locations-box"><input class="Locations" type="radio" name="radio"/>&nbsp;停用</label>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary modal-btn-primary">确认</button>
						<button type="button" class="btn btn-default modal-btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!-- 修改管理员模态框（Modal） -->
		<!-- 重置密码模态框（Modal） -->
		<div class="modal fade" id="ResetModel" tabindex="-1" role="dialog" aria-labelledby="ResetModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="ResetModalLabel">重置密码</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-12 control-label" style="text-align: center; font-weight: 500;">你确定要重置密码为12345678吗?</label>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary modal-btn-primary">确认</button>
						<button type="button" class="btn btn-default modal-btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!-- 重置密码模态框（Modal） -->
		<!--登录日志模态框（Modal） -->
		<div class="modal fade" id="LoginLog" tabindex="-1" role="dialog" aria-labelledby="LoginLogLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="LoginLogLabel">登录日志</h4>
					</div>
					<div class="modal-body">
						<table class="table table-condensed">
							<tr>
								<th class="col-sm-4">管理员名称</th>
								<th class="col-sm-4">登录记录</th>
								<th class="col-sm-4">IP地址</th>
							</tr>
							<tr>
								<td>Admin</td>
								<td>2016-01-11 12:21:22</td>
								<td>222.80.128.0</td>
							</tr>
							<tr>
								<td></td>
								<td>2016-01-11 12:21:22</td>
								<td>222.80.128.0</td>
							</tr>
							<tr>
								<td></td>
								<td>2016-01-11 12:21:22</td>
								<td>222.80.128.0</td>
							</tr>
							<tr>
								<td></td>
								<td>2016-01-11 12:21:22</td>
								<td>222.80.128.0</td>
							</tr>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary modal-btn-primary">确认</button>
						<button type="button" class="btn btn-default modal-btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!--登录日志模态框（Modal） -->
		<!--删除模态框（Modal） -->
		<div class="modal fade" id="Delete" tabindex="-1" role="dialog" aria-labelledby="DeleteLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="DeleteLabel">删除提示</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-12 control-label pop_up">你确定要删除管理信息吗?</label>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary modal-btn-primary">确认</button>
						<button type="button" class="btn btn-default modal-btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!--删除模态框（Modal） -->
	</body>
	<script src="../../scripts/plus/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/common.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		//管理员/管理组切换
		$(function() {
			$(".Administration li").on('click', function() {
				$(".data-reset>a").eq($(this).index()).css('display', 'block').siblings().css("display", 'none');
			})
		})
	</script>

</html>