<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>汇银乐虎总后台管理系统-图片管理</title>
		<link rel="stylesheet" type="text/css" href="../../style/plus/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../style/plus/lightbox.css" />
		<link rel="stylesheet" type="text/css" href="../../style/plus/common.css" />
		<link rel="stylesheet" type="text/css" href="../../style/SystemSettings/PictureManagement.css" />
	</head>

	<body>
		<!--图片管理-->
		<div class="common-view">
			<!--标题-->
			<p class="common-title">系统设置<span>&gt;</span>图片管理</p>
			<div class="comments">
				<!--图片管理查询-->
				<div class="comments-search">
					<p class="common-little-title">图片管理列表</p>
					<div class="comments-search-item">
						<div class="form-inline">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">图片名称</span><input type="text" class="form-control"></div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">图片分类</span>
									<select class="form-control">
										<option value="0" selected>全部</option>
										<option value="1">首页</option>
										<option value="2">商品</option>
										<option value="3">专题页图片</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<a href="javascript:;" class="btn btn-primary">查询</a>
							</div>
						</div>
						<div class="data-reset">
							<a data-toggle="modal" data-target="#AddPicture" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;添加图片</a>
							<a data-toggle="modal" data-target="#AddImageClassification" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;添加图片分类</a>
						</div>
					</div>
				</div>
				<!--/图片管理查询-->
				<!--/图片管理列表-->
				<div class="comments-list">
					<div class="tab-content">
						<div class="tab-pane fade in active" id="Administrators">
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th class="col-md-2">图片名称</th>
										<th class="col-md-2">缩略图</th>
										<th class="col-md-6">图片URL</th>
										<th class="col-md-2">控制</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>德运奶粉800g</td>
										<td>
											<a class="example-image-link" href="../../images/activity221_06(6).jpg" data-lightbox="example-1">
												<img class="example-image" src="../../images/activity221_06(6).jpg" alt="image-1" />
											</a>
										</td>
										<td>http://www.youpayun.com/201701/goodsphoto/deyun800.jpg</td>
										<td>
										<a data-toggle="modal" data-target="#Delete">删除</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!--图片管理列表-->
				<!--分页器-->
				<div class="fixed">
					<div class="list-fenye">
						<span>共100</span>
						<span><em>1/5</em>页</span>
						<ul class="pagination">
							<li>
								<a href="#">&laquo;</a>
							</li>
							<li class="active">
								<a href="#">1</a>
							</li>
							<li>
								<a href="#">2</a>
							</li>
							<li>
								<a href="#">3</a>
							</li>
							<li>
								<a href="#">4</a>
							</li>
							<li>
								<a href="#">5</a>
							</li>
							<li>
								<a href="#">&raquo;</a>
							</li>
						</ul>
						<span>跳转到<input type="text"></span>
						<a href="javascript:;" class="btn btn-primary ">确定</a>
					</div>
				</div>
				<!--/分页器-->
			</div>
		</div>
		<!--/图片管理-->
		<!-- 添加图片模态框（Modal） -->
		<div class="modal fade" id="AddPicture" tabindex="-1" role="dialog" aria-labelledby="SpecificationsLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="SpecificationsLabel">上传图片</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-3 control-label">图片分类:</label>
								<div class="col-md-3">
									<select class="form-control">
										<option value="0" selected="selected">全部</option>
										<option value="1">商品</option>
										<option value="2">又拍云有图片</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">上传图片:</label>
								<div class="col-md-9 browse">
									<input type="text" class="form-control" readonly="readonly" />
									<a class="btn btn-primary">上传</a>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary modal-btn-primary">提交</button>
						<button type="button" class="btn btn-default modal-btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
		</div>
		<!-- 添加图片模态框（Modal） -->
		<!-- 添加图片分类模态框（Modal） -->
		<div class="modal fade" id="AddImageClassification" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">添加图片分类</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-3 control-label">分类名称:</label>
								<div class="col-md-5">
									<input type="text" class="form-control">
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary modal-btn-primary">确认</button>
						<button type="button" class="btn btn-default modal-btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
		</div>
		<!-- 添加图片分类模态框（Modal） -->
		<!--删除模态框（Modal） -->
		<div class="modal fade" id="Delete" tabindex="-1" role="dialog" aria-labelledby="DeleteLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="DeleteLabel">删除提示</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-12 control-label">你确定要删除图片管理信息吗?</label>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary modal-btn-primary">确认</button>
						<button type="button" class="btn btn-default modal-btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!--删除模态框（Modal） -->
	</body>
	<script src="../../scripts/plus/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/lightBox.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/common.js" type="text/javascript" charset="utf-8"></script>

</html>