.common-little-title {
	border-bottom: 0;
	font-weight: bold;
}

.table {
	margin-bottom: 0;
}

.table-hover,
.table-bordered {
	border: 1px solid #E0E0E0 !important;
}

.table-bordered tr td {
	border: none;
	border: 0 !important;
}

.comments-search-item {
	padding-top: 0 !important;
}

.ReceivingInformation {
	height: 40px;
	line-height: 30px;
}

.OperationRecord {
	margin-bottom: 50px;
}


/*客服信息*/

.CustomerInformation {
	height: 75%;
}


/*其他信息*/

.Other {
	width: 100%;
	border: 1px solid #E0E0E0;
	height: 150px;
}

.Other .OtherLeft {
	float: left;
	width: 70%;
}

.Other .OtherLeft p {
	margin-left: 80px;
}

.Other .OtherLeft p span {
	display: block;
	width: 15%;
	float: left;
	text-align: right;
	color: #000000;
}

.Other .OtherRight {
	float: right;
	width: 30%;
	height: 100%;
}

.Other .OtherRight p {
	float: left;
	width: 100%;
}

.Other .OtherRight p span {
	float: left;
	width: 100%;
	height: 25px;
	line-height: 25px;
}

.Other .OtherRight p textarea {
	width: 90%;
	height: 70%;
	float: left;
	resize: none;
	overflow: auto;
}

.Other .OtherRight p a {
	margin: 0 35px;
}


/*左右加减*/

/*.SettlementInformation {
	width: 100%;
	height: auto;
	margin: 0 auto;
	background: red;
	overflow: auto;
	zoom: 1;
	margin: 0 auto;
}

.SettlementInformationFlt {
	float: left;
	display: block;
	width: 30%;
	height: auto;
	background: yellow;
	padding: 18px 0;
}

.SettlementInformationFrt {
	width: 70%;
	height: auto;
	background: burlywood;
	text-align: left;
	display: block;
	float: left;
}*/