/*iframe宽度限制*/

.comments {
	width: auto;
	height: auto;
	min-width: 1100px;
	margin: 0 20px;
}

.data-reset a {
	margin-left: 0;
	margin-top: 0;
}
.form-group div img{
	width: 80px;
	height: 40px;
}
.form-horizontal .control-label-pictur {
    padding-top: 15px;
     
}
