/*iframe宽度限制*/

.edit {
	min-width: 1100px;
	margin: 0 20px;
	margin-top: 10px;
}


/*基本信息*/

#basic>ul>li {
	overflow: auto;
	zoom: 1;
	margin: 15px 0;
}

#basic>ul>li>p {
	overflow: auto;
	zoom: 1;
}

.end {
	width: 6%;
	height: 100%;
	margin-top: 8px;
	font-size: 14px;
	font-weight: 500;
}

#basic ul li span {
	width: 10%;
	height: 35px;
	line-height: 35px;
	text-align: right;
	font-weight: bold;
	float: left;
	margin: 0 2%;
}

#basic ul li input[type="text"] {
	width: 30%;
	float: left;
}

#basic ul li select {
	width: 30%;
	float: left;
}

#basic ul li select.Template {
	float: left;
	width: 18%;
	margin-left: 20px;
}

.pictire-content {
	float: right;
	width: 86%;
	overflow: hidden;
	zoom: 1;
	padding-bottom: 20px;
}

#basic ul li .pictire-list {
	width: 180px;
	height: 200px;
	margin-top: 10px;
	margin-right: 10px;
	float: left;
	position: relative;
}

#basic ul li .pictire-list span {
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 20px;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	background: #CCCCCC;
	margin: 0;
}

#basic ul li .pictire-list img {
	width: 100%;
	height: 100%;
}

#basic ul li .Memory {
	width: 60%;
	float: left;
	border: 1px solid #E0E0E0;
	margin-bottom: 20px;
	overflow: auto;
	zoom: 1;
}

.MemoryLsit {
	overflow: auto;
	zoom: 1;
	border-top: 1px dashed #E0E0E0;
	box-sizing: border-box;
}

#basic ul li .Memory .Memory-title {
	width: auto;
	text-align: center;
	height: 100%;
	float: left;
	padding-left: 10px;
	padding-top: 10px;
	font-weight: bold;
	font-size: 15px;
}

#basic ul li .Memory .Memory-lists {
	width: auto;
	height: 100%;
	float: left;
	margin-left: 30px;
}

#basic ul li .Memory .Memory-lists label {
	width: auto;
	float: left;
	margin: 5px 10px;
	text-align: center;
}

#basic ul li .Memory .Memory-lists label>a {
	float: left;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	padding: 0;
	padding-bottom: 20px;
	margin-top: 2px;
	margin-left: 18px;
}

.Determine {
	margin-left: 20px;
}


/*商品信息*/

.CommodityInformation {
	width: 100%;
	height: auto;
	overflow: hidden;
	zoom: 1;
	margin-top: 10px;
	position: relative;
}

.CommodityInformationLsit {
	overflow: auto;
	zoom: 1;
	border: 1px solid #CCCCCC;
}

.btn_list {
	margin: 10px;
}

.btn_list a {
	margin-left: 20px;
}

.CommodityInformation .PictureInformation {
	width: 200px;
	height: 240px;
	float: left;
}

.CommodityInformation .PictureInformation p {
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	float: left;
}

.CommodityInformation .PictureInformation dl {
	width: 150px;
	height: 200px;
	float: left;
	margin: 10px 25px;
	border: 1px solid #E0E0E0;
	margin-bottom: 0;
}

.CommodityInformation .PictureInformation dl dt {
	width: 130;
	height: 130px;
	margin: 10px;
	position: relative;
}

.CommodityInformation .PictureInformation dl dt span {
	font-size: 20px;
	position: absolute;
	top: 0;
	right: 0;
	background: #CCCCCC;
	cursor: pointer;
}

.CommodityInformation .PictureInformation dl dd {
	height: 50px;
	line-height: 50px;
	text-align: center;
}

.CommodityInformation .PictureInformation dl dt img {
	width: 100%;
	height: 100%;
}


/*选择栏*/

.CommodityInformation .SelectColumn {
	width: calc(100% - 200px);
	height: auto;
	float: left;
	margin-top: 30px;
}


/*商品详情*/

#details .CommodityDetails {
	width: 100%;
	border: 1px solid #E0E0E0;
	margin-top: 10px;
}

#details .CommodityDetails .CommodityDetails-title {
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	font-weight: bold;
	border-bottom: 1px solid #E0E0E0;
}

#details .CommodityDetails .CommodityDetails-content {
	width: 100%;
	height: 270px;
	overflow-y: scroll;
	overflow-x: hidden;
	resize: none;
}


/*新增图片弹窗*/

.pictire {
	width: 850px;
}

#editingPicture .tab-content {
	height: 600px;
	overflow: auto;
}

#On-line p {
	position: relative;
	margin-top: 10px;
}

#On-line p input {
	width: 100px;
	height: 35px;
	line-height: 17px;
}

#On-line p input[type="button"] {
	position: absolute;
	top: 0;
	left: 0;
}

#On-line p input[type="file"] {
	z-index: 99;
	filter: alpha(Opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	cursor: pointer;
	margin: 20px 0;
}

.SeleclPicture {
	width: 100%;
	height: 35px;
	margin: 20px 0;
}

.SeleclPicture span,
.SeleclPicture select,
.SeleclPicture input[type="button"] {
	float: left;
	height: 35px;
}

.SeleclPicture span,
.SeleclPicture select {
	line-height: 35px;
}

.SeleclPicture span {
	width: 80px;
	text-align: center;
}

.SeleclPicture select {
	width: 200px;
}

.SeleclPicture input[type="button"] {
	line-height: 17px;
	margin-left: 20px;
}

.NetworkPicturePath {
	width: 100%;
	height: 35px;
	margin: 20px 0;
}

.NetworkPicturePath span,
.NetworkPicturePath input {
	float: left;
	height: 35px;
}

.NetworkPicturePath span {
	width: 120px;
	line-height: 35px;
	text-align: center;
}

.NetworkPicturePath input {
	width: 400px;
}


/*图片*/

.PictureList {
	float: left;
	margin-top: 40px
}

.PictureList li span {
	display: none;
}

.PictureList li span img {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #2446AB;
	position: absolute;
	top: 0px;
	right: 0px;
}

.store-submit a {
	width: 120px;
}

.select-choose {
	outline: none;
}

.select-list {
	width: 29%;
	height: auto;
	max-height: 400px;
	position: absolute;
	left: 15%;
	display: none;
	z-index: 999;
	margin-top: 36px;
	border-bottom: 1px solid #66afe9;
	border-left: 1px solid #66afe9;
	border-right: 1px solid #66afe9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
	background: #FFFFFF;
	font-size: 16px;
	overflow: auto;
}

.select-list a {
	display: none;
	width: 100%;
	height: auto;
	padding: 5px 2%;
	font-size: 16px
}

.select-list a.dos-supplier,
.select-list a.dos-place {
	display: block
}

.current-supplier,
.current-place {
	background: #1E90FF;
	color: #FFFFFF;
}

.choose-supplier,
.choose-place {
	padding: 0;
	text-indent: 12px;
}