/*重置密码*/

.reset-tap {
	width: auto;
	height: auto
}

.reset-tap label {
	font-weight: normal;
	width: 120px;
	height: auto;
	text-align: right;
	margin-right: 20px
}

.reset-tap .tap-ago {
	margin-top: 15px;
	font-size: 16px;
	color: #323232
}

.reset-tap .tap-ago input {
	width: 220px;
	height: 34px;
	border: 1px solid #323232;
	padding-left: 10px;
	border-radius: 4px
}

.reset-tap .submit {
	margin-top: 20px;
	margin-left: 140px;
}