 /*body设置*/
 
 .login-back {
 	position: fixed;
 	width: 100%;
 	height: 100%;
 	background: url(../images/back_03.jpg) no-repeat;
 	background-size: cover
 }
 
 .login {
 	width: 320px;
 	background: rgba(0, 0, 0, .7);
 	margin: 0 auto;
 	border-radius: 8px;
 	-webkit-border-radius: 8px;
 	-moz-border-radius: 8px;
 	padding: 20px
 }
 
 .login .login-come {
 	font-size: 16px;
 	color: #ffffff;
 	text-align: center;
 	width: 100%;
 	height: 30px;
 	line-height: 30px;
 }
 
 .same {
 	height: 40px;
 	border-radius: 4px;
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 	margin-top: 20px;
 	padding-left: 2%;
 	border: 0
 }
 
 .login .login-user {
 	width: 98%
 }
 
 .login .login-password {
 	width: 98%
 }
 
 .login-validation .validation {
 	width: 60%
 }
 
 .login-validation .validation-chang {
 	width: 100px;
 	height: 40px;
 	margin-left: 15px;
 	cursor: pointer;
 }
 
 .login .login-submit {
 	width: 100%;
 	height: 50px;
 	background: #252328;
 	display: block;
 	color: #ffffff;
 	text-align: center;
 	line-height: 50px
 }
 
 .login .login-submit:hover {
 	background: #201f23
 }
 /*信息提示*/
 
 .login-tip {
 	color: #ffffff;
 	display: none
 }