/*新增活动~活动时间*/

.ActivityTime,
.ActivityTime span,
.ActivityTime input[type="text"] {
	float: left;
}

.ActivityTime span {
	text-align: center;
	line-height: 35px;
	padding: 0 10px;
}

.ActivityTime input[type="text"] {
	width: 200px;
}


/*新增活动~奖品设置*/

.GradeCondition,
.GradeCondition span,
.GradeCondition p,
.GradeCondition input[type="text"] {
	float: left;
}

.GradeCondition {
	margin-right: 10px;
	height: 32px;
	line-height: 32px;
}

.GradeCondition p {
	margin: 0 5px;
}

.GradeCondition input[type="text"] {
	width: 50px;
}

.GradeCondition input.PrizeName {
	width: 120px;
}


/*开启限购*/

#AddActivity .form-horizontal .radio-inline {
	text-align: center;
	height: 30px;
	line-height: 30px;
}

#AddActivity .form-horizontal .radio-inline .Location {
	width: 15px;
	height: 15px;
}


/*拼团上平*/

.CollageGoods {
	float: left;
	width: 80%;
	margin-right: 18px;
}

form {
	margin: 0;
}

textarea {
	display: block;
}

#AddActivity .modal-dialog {
	width: 900px;
	margin: 10px auto;
}