  .ActivityTime,
  .ActivityTime span,
  .ActivityTime input[type="text"] {
  	float: left;
  }
  
  .ActivityTime span {
  	width: 18px;
  	text-align: center;
  	line-height: 35px;
  }
  
  .ActivityTime input[type="text"] {
  	width: 200px;
  }