<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>汇银乐虎总后台管理系统-拼团活动</title>
		<link href="../../style/plus/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="../../style/plus/laydate.css" />
		<link rel="stylesheet" type="text/css" href="../../style/plus/laytime.css" />
		<link rel="stylesheet" type="text/css" href="../../kindeditor/themes/default/default.css" />
		<link href="../../style/plus/common.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="../../style/MarketingManagement/CollageActivities.css" />

	</head>

	<body>
		<!--拼团活动-->
		<div class="common-view">
			<!--标题-->
			<p class="common-title">营销管理<span>&gt;</span>拼团活动</p>
			<div class="comments">
				<!--拼团活动列表-->
				<div class="comments-search">
					<p class="common-little-title">活动列表</p>
					<div class="comments-search-item">
						<div class="form-inline">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">活动名称</span><input type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">商品名称</span><input type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">开始时间</span><input id="beginTime" type="text" class="form-control" />
								</div>
								<span>&nbsp;~&nbsp;&nbsp;</span><input id="endTime" type="text" class="form-control" />
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">结束时间</span><input id="CbeginTime" type="text" class="form-control" />
								</div>
								<span>&nbsp;~&nbsp;&nbsp;</span><input id="CendTime" type="text" class="form-control" />
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">活动状态</span>
									<select class="form-control">
										<option value="0" selected>未开团</option>
										<option value="1">已开团</option>
										<option value="1">已成团</option>
										<option value="1">未开团</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">审核</span>
									<select class="form-control">
										<option value="0" selected>未审核</option>
										<option value="1">已审核未通过</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<a href="javascript:;" class="btn btn-primary">查询</a>
							</div>
						</div>
						<div class="data-reset">
							<a data-toggle="modal" data-target="#AddActivity" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;新增活动</a>
							<a href="javascript:;" class="btn btn-info"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;&nbsp;导出</a>
						</div>
					</div>
				</div>
				<!--/拼团活动查询-->
				<!--拼团活动列表-->
				<div class="comments-list">
					<div class="tab-content">
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th class="col-md-2">活动名称</th>
									<th class="col-md-2">商品名称</th>
									<th class="col-md-2">活动时间</th>
									<th class="col-md-1">限购</th>
									<th class="col-md-1">状态</th>
									<th class="col-md-1">审核</th>
									<th class="col-md-3">操作</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="picre">6*18 大促销</td>
									<td>商品名称商品名称商品名称</td>
									<td>2016-05-18 9：00：30<br/>~ 2016-05-22 19：58：32 </td>
									<td>是</td>
									<td>进行中</td>
									<td>已审核</td>
									<td>
										<a data-toggle="modal" data-target="#Close">关闭</a>
										<a class="ShenHe" data-toggle="modal" data-target="#ToExamine">审核</a>
										<a href="GroupActivities.html">查看活动</a>
									</td>
								</tr>
								<tr>
									<td class="picre">6*19 大促销</td>
									<td>商品名称商品名称商品名称</td>
									<td>2016-05-18 9：00：30<br/>~ 2016-05-22 19：58：32 </td>
									<td>是</td>
									<td>进行中</td>
									<td>已审核</td>
									<td>
										<a data-toggle="modal" data-target="#Close">关闭</a>
										<a class="ShenHe" data-toggle="modal" data-target="#ToExamine">审核</a>
										<a href="GroupActivities.html">查看活动</a>
									</td>
								</tr>
							</tbody>
						</table>
						<!--/拼团活动活动列表-->
					</div>
				</div>
				<!--/拼团活动-->
			</div>
		</div>
		<!--/拼团活动-->
		<!-- 新增活动等级模态框（Modal） -->
		<div class="modal fade" id="AddActivity" tabindex="-1" role="dialog" aria-labelledby="AddActivityLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="AddActivityLabel">新增活动</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-3 control-label">活动名称:</label>
								<div class="col-md-6">
									<input type="text" class="form-control" placeholder="请输入小于20个字符,显示与商品名称前" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">活动副标题:</label>
								<div class="col-md-6">
									<input type="text" class="form-control" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">拼团商品:</label>
								<div class="col-md-6">
									<input type="text" class="form-control CollageGoods" placeholder="输入商品货号">
									<a class="btn btn-primary CommodityNameDetermine">确定</a>
								</div>
							</div>
							<div class="form-group CommodityName" style="display: none;">
								<label class="col-md-3 control-label">商品名称:</label>
								<div class="col-md-6">
									<p class="form-control"></p>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">活动数量:</label>
								<div class="col-md-3">
									<input type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">活动时间:</label>
								<div class="col-md-9 ActivityTime">
									<input id="TbeginTime" class="form-control" type="text" /><span>至</span>
									<input id="TendTime" class="form-control" type="text" />
									<span>(可开团时间设置)</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">商品限购:</label>
								<div class="col-md-9 ActivityTime">
									<div class="GradeCondition">
										<label class="radio-inline">
                                        <input class="Location" type="checkbox"/>&nbsp;&nbsp;开启限购
                                    </label></div>
									<div class="GradeCondition">
										<input type="text" class="form-control" />
										<span>件/每人</span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">参团人数:</label>
								<div class="col-md-9">
									<div class="GradeCondition">
										<input type="text" class="PrizeName form-control" /></div>
									<div class="GradeCondition">
										<p>拼团价:</p><input type="text" class="form-control" /> </div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">团长权限:</label>
								<div class="col-md-3">
									<select class="form-control">
										<option value="0" selected="selected">选择优惠券</option>
										<option value="0">无</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">拼团有效期:</label>
								<div class="col-md-6 ActivityTime">
									<input type="text" class="form-control">
									<span>小时</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">活动详情:</label>
								<div class="col-md-9">
									<form>
										<textarea name="content" style="width:100%;height:200px;"></textarea>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary modal-btn-primary">确认</button>
						<button type="button" class="btn btn-default modal-btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!-- 新增活动等级模态框（Modal） -->
		<!--审核模态框模态框（Modal） -->
		<div class="modal fade" id="ToExamine" tabindex="-1" role="dialog" aria-labelledby="ToExamineLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="ToExamineLabel">审核商品</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-3 control-label">审核条件:</label>
								<div class="col-sm-8">
									<textarea class="form-control"></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary modal-btn-primary">审核通过</button>
						<button type="button" class="btn btn-default modal-btn-default" data-dismiss="modal">审核不通过</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!--审核模态框模态框（Modal） -->
		<!--关闭模态框模态框（Modal） -->
		<div class="modal fade" id="Close" tabindex="-1" role="dialog" aria-labelledby="CloseLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="CloseLabel">关闭</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-12 control-label">你确定要关闭此项吗?</label>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary modal-btn-primary">提交</button>
						<button type="button" class="btn btn-default modal-btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!--关闭模态框模态框（Modal） -->
	</body>
	<script src="../../scripts/plus/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/laydate.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../kindeditor/kindeditor-min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../kindeditor/lang/zh_CN.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/common.js" type="text/javascript" charset="utf-8"></script>
	<script>
		KindEditor.ready(function(K) {
			K.create('textarea[name="content"]', {
				autoHeightMode: true,
				afterCreate: function() {
					this.loadPlugin('autoheight');
				}
			});
		});
		$(".CommodityNameDetermine").on('click', function() {
			$(".CommodityName").css('display', 'block');
		})
	</script>

</html>