<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>汇银乐虎总后台管理系统-活动商品</title>
		<link href="../../style/plus/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="../../style/plus/common.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="../../style/MarketingManagement/FullMovableGoods.css" />

	</head>

	<body>
		<!--活动商品-->
		<div class="common-view">
			<!--标题-->
			<p class="common-title">营销管理<span>&gt;</span>活动商品</p>
			<div class="comments">
				<!--/活动商品列表-->
				<div class="comments-list">
					<div class="tab-content">
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th class="col-md-6">商品名称</th>
									<th class="col-md-6">操作</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>这商品平时买不到，端午却打折，速抢 </td>
 									<td>
										<div>
											<a href="#">删除</a>
										</div>
									</td>
								</tr>
								<tr>
									<td>这商品平时买不到，端午却打折，速抢 </td>
									<td>
										<div>
											<a href="#">删除</a>
										</div>
									</td>
								</tr>
								<tr>
									<td>这商品平时买不到，端午却打折，速抢 </td>
									<td>
										<div>
											<a href="#">删除</a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!--/活动商品列表-->
			</div>
		</div>
		<!--/活动商品-->
	</body>
	<script src="../../scripts/plus/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

</html>