<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>汇银乐虎总后台管理系统-报名情况</title>
		<link href="../../style/plus/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="../../style/plus/common.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="../../style/MarketingManagement/FullEnrollmentSituation.css" />

	</head>

	<body>
		<!--报名情况-->
		<div class="common-view">
			<!--标题-->
			<p class="common-title">营销管理<span>&gt;</span>报名情况</p>
			<div class="comments">
				<!--/报名情况列表-->
				<div class="comments-list">
					<div class="tab-content">
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th class="col-md-2">活动名称</th>
									<th class="col-md-2">活动时间</th>
									<th class="col-md-2">报名时间</th>
									<th class="col-md-1">会员类型</th>
									<th class="col-md-1">活动类型</th>
									<th class="col-md-1">店铺名称</th>
									<th class="col-md-1">限购设置</th>
									<th class="col-md-2">操作</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>【端午节特惠】这些商品平时买不到，端午却打折，速抢 </td>
									<td>2016-05-18 9：00：30<br/>~ 2016-05-22 19：58：32 </td>
									<td>2016-05-18 9：00：30<br/>~ 2016-05-22 19：58：32 </td>
									<td>新会员专享</td>
									<td>满100赠商品名称1223333122</td>
									<td>乐虎自营</td>
									<td>活动期1件/人</td>
									<td>
										<a href="FullMovableGoods.html">活动商品</a>

									</td>
								</tr>
								<tr>
									<td>【端午节特惠】这些商品平时买不到，端午却打折，速抢 </td>
									<td>2016-05-18 9：00：30<br/>~ 2016-05-22 19：58：32 </td>
									<td>2016-05-18 9：00：30<br/>~ 2016-05-22 19：58：32 </td>
									<td>新会员专享</td>
									<td>满100赠商品名称34564676578</td>
									<td>海外直邮中心</td>
									<td>活动期1件/人</td>
									<td>
										<a href="FullMovableGoods.html">活动商品</a>

									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!--/报名情况列表-->
			</div>
		</div>
		<!--/报名情况-->
	</body>
	<script src="../../scripts/plus/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

</html>