<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>汇银乐虎总后台管理系统-抽奖活动</title>
		<link href="../../style/plus/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="../../style/plus/laydate.css" />
		<link rel="stylesheet" type="text/css" href="../../style/plus/laytime.css" />
		<link href="../../style/plus/common.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="../../kindeditor/themes/default/default.css" />
		<link rel="stylesheet" type="text/css" href="../../style/MarketingManagement/LuckyDraw.css" />

	</head>

	<body>
		<!--抽奖活动-->
		<div class="common-view">
			<!--标题-->
			<p class="common-title">营销管理<span>&gt;</span>抽奖活动</p>
			<div class="comments">
				<!--抽奖活动列表-->
				<div class="comments-search">
					<p class="common-little-title">活动列表</p>
					<div class="comments-search-item">
						<div class="form-inline">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">活动名称</span><input type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">开始时间</span><input id="beginTime" type="text" class="form-control" />
								</div>
								<span>&nbsp;~&nbsp;&nbsp;</span><input id="endTime" type="text" class="form-control" />
							</div>

							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">结束时间</span><input id="CbeginTime" type="text" class="form-control" />
								</div>
								<span>&nbsp;~&nbsp;&nbsp;</span><input id="CendTime" type="text" class="form-control" />
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">活动状态</span>
									<select class="form-control">
										<option value="0" selected>未开始</option>
										<option value="1">进行中</option>
										<option value="2">已结束</option>
										<option value="3">已关闭</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<a href="javascript:;" class="btn btn-primary">查询</a>
							</div>
						</div>
						<div class="data-reset">
							<a data-toggle="modal" data-target="#AddActivity" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;新增活动</a>
							<a href="javascript:;" class="btn btn-info"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;&nbsp;导出</a>
						</div>
					</div>
				</div>
				<!--/订单查询-->
				<!--订单列表-->
				<div class=" comments-list">
					<div class="tab-content">
						<!--活动列表-->
						<div class="tab-pane fade in active" id="AllOrder">
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th class="col-md-2">活动名称</th>
										<th class="col-md-2">活动时间</th>
										<th class="col-md-2">创建日期</th>
										<th class="col-md-1">总奖数</th>
										<th class="col-md-1">参与人数</th>
										<th class="col-md-1">活动状态</th>
										<th class="col-md-3">操作</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>这是一个活动的名称</td>
										<td>2017.02.28~2017.03.31</td>
										<td>2017.02.28</td>
										<td>3332</td>
										<td>2222</td>
										<td>未开始</td>
										<td>
											<a data-toggle="modal" data-target="#ViewActivity">查看</a>
											<a data-toggle="modal" data-target="#ModificationActivities">修改</a>
											<a href="javascript:;">关闭</a>
										</td>
									</tr>
									<tr>
										<td>这是一个活动的名称</td>
										<td>2017.02.28~2017.03.31</td>
										<td>2017.02.28</td>
										<td>3332</td>
										<td>2222</td>
										<td>进行中</td>
										<td>
											<a data-toggle="modal" data-target="#ViewActivity">查看</a>
											<a href="javascript:;">关闭</a>
											<a href="javascript:;">导出</a>
										</td>
									</tr>
									<tr>
										<td>这是一个活动的名称</td>
										<td>2017.02.28~2017.03.31</td>
										<td>2017.02.28</td>
										<td>3332</td>
										<td>2222</td>
										<td>已结束</td>
										<td>
											<a data-toggle="modal" data-target="#ViewActivity">查看</a>
											<a href="javascript:;">导出</a>
										</td>
									</tr>
									<tr>
										<td>这是一个活动的名称</td>
										<td>2017.02.28~2017.03.31</td>
										<td>2017.02.28</td>
										<td>3332</td>
										<td>2222</td>
										<td>已关闭</td>
										<td>
											<a data-toggle="modal" data-target="#ViewActivity">查看</a>
											<a data-toggle="modal" data-target="#ModificationActivities">修改</a>
											<a href="javascript:;">开启</a>
											<a href="javascript:;">导出</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!--/活动列表-->
					</div>
					<!--分页器-->
					<div class="fixed">
						<div class="list-fenye">
							<span>共100</span>
							<span><em>1/5</em>页</span>
							<ul class="pagination">
								<li>
									<a href="#">&laquo;</a>
								</li>
								<li class="active">
									<a href="#">1</a>
								</li>
								<li>
									<a href="#">2</a>
								</li>
								<li>
									<a href="#">3</a>
								</li>
								<li>
									<a href="#">4</a>
								</li>
								<li>
									<a href="#">5</a>
								</li>
								<li>
									<a href="#">&raquo;</a>
								</li>
							</ul>
							<span>跳转到<input type="text"></span>
							<a href="javascript:;" class="btn btn-primary">确定</a>
						</div>
					</div>
					<!--/分页器-->
				</div>
				<!--/活动列表-->
			</div>
		</div>
		<!--/抽奖活动-->
		<!-- 新增活动等级模态框（Modal） -->
		<div class="modal fade" id="AddActivity" tabindex="-1" role="dialog" aria-labelledby="AddActivityLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="AddActivityLabel">新增活动</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-3 control-label">活动名称:</label>
								<div class="col-md-5">
									<input type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">活动时间:</label>
								<div class="col-md-9 ActivityTime">
									<input id="TbeginTime" class="form-control" type="text" /><span>~</span>
									<input id="TendTime" class="form-control" type="text" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">活动背景图:</label>
								<div class="col-md-9 browse">
									<input type="text" class="form-control" readonly="readonly" />
									<a class="btn btn-primary">上传</a>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">活动规则:</label>
								<div class="col-md-9">
									<form>
										<textarea name="content" style="width:100%;height:200px;"></textarea>
									</form>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">等级条件:</label>
								<div class="col-md-9">
									<div class="GradeCondition">
										<span id="flip" class="flip_NewlyAdded slideDown">+</span>
										<p>奖品名称:</p><input type="text" class="PrizeName form-control" /></div>
									<div class="GradeCondition">
										<p>中奖概率:</p><input type="text" class="form-control" />&nbsp;%
									</div>
									<div class="GradeCondition">
										<label class="Locations-box ThankYou"><input class="Locations" type="radio" name="radio"/>&nbsp;谢谢</label>
										<label class="Locations-box Coupon"><input class="Locations" type="radio" name="radio" checked="checked"/>&nbsp;优惠券</label>
									</div>
									<div class='GradeCondition col-md-3 GradeCondition-select'>
										<select class="form-control">
											<option value="0">随促销发放的券活动名称</option>
										</select>
									</div>
								</div>
							</div>
							<div class="panel_NewlyAdded">
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary">确认</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal -->
			</div>
		</div>
		<!-- 新增活动等级模态框（Modal） -->
		<!-- 修改活动等级模态框（Modal） -->
		<div class="modal fade" id="ModificationActivities" tabindex="-1" role="dialog" aria-labelledby="ModificationActivitiesLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="ModificationActivitiesLabel">修改活动</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-3 control-label">活动名称:</label>
								<div class="col-md-5">
									<input type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">活动时间:</label>
								<div class="col-md-9 ActivityTime">
									<input id="FbeginTime" class="form-control" type="text" /><span>~</span>
									<input id="FendTime" class="form-control" type="text" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">活动背景图:</label>
								<div class="col-md-9 browse">
									<input type="text" class="form-control" readonly="readonly" />
									<a class="btn btn-primary">上传</a>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">活动规则:</label>
								<div class="col-md-9">
									<form>
										<textarea name="content" style="width:100%;height:200px;"></textarea>
									</form>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">等级条件:</label>
								<div class="col-md-9">
									<div class="GradeCondition">
										<span id="flip" class="flip_Modify slideDown">+</span>
										<p>奖品名称:</p><input type="text" class="PrizeName form-control" /></div>
									<div class="GradeCondition">
										<p>中奖概率:</p><input type="text" class="form-control" />&nbsp;%
									</div>
									<div class="GradeCondition">
										<label class="Locations-box ThankYou"><input class="Locations" type="radio" name="radio"/>&nbsp;谢谢</label>
										<label class="Locations-box Coupon"><input class="Locations" type="radio" name="radio"/>&nbsp;优惠券</label>
									</div>
									<div class='GradeCondition col-md-3 GradeCondition-select'>
										<select class="form-control">
											<option value="0">随促销发放的券活动名称</option>

										</select>
									</div>
								</div>
							</div>
							<div class="panel_Modify">
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary">确认</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal -->
			</div>
		</div>
		<!-- 修改活动等级模态框（Modal） -->
		<!-- 查看活动等级模态框（Modal） -->
		<div class="modal fade" id="ViewActivity" tabindex="-1" role="dialog" aria-labelledby="ViewActivityLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="ViewActivityLabel">查看活动</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-3 control-label">活动名称:</label>
								<div class="col-md-5">
									<p class="form-control">这是一个活动名称</p>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">活动时间:</label>
								<div class="col-md-5">
									<input id="SbeginTime" class="form-control" type="text" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">活动背景图:</label>
								<div class="col-md-5">
									<img src="../../images/back_03.jpg">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">奖品设置:</label>
								<div class="col-md-8">
									<table class="table table-condensed">
										<tbody>
											<tr>
												<th class="col-sm-4">奖品名称</th>
												<th class="col-sm-4">中奖概率</th>
												<th class="col-sm-4">奖品内容</th>
											</tr>
											<tr>
												<td>这是一个奖品名称</td>
												<td>25%</td>
												<td>优惠券：满100减10元</td>
											</tr>
											<tr>
												<td>这是一个奖品名称</td>
												<td>25%</td>
												<td>优惠券：满100减10元</td>
											</tr>
											<tr>
												<td>这是一个奖品名称</td>
												<td>25%</td>
												<td>优惠券：满100减10元</td>
											</tr>
											<tr>
												<td>这是一个奖品名称</td>
												<td>25%</td>
												<td>优惠券：满100减10元</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">活动规则:</label>
								<div class="col-md-9">
									<form>
										<textarea name="content" style="width:100%;height:200px;"></textarea>
									</form>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary">确认</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal -->
			</div>
		</div>
		<!-- 查看活动等级模态框（Modal） -->

		< </body>
			<script src="../../scripts/plus/jquery.min.js" type="text/javascript" charset="utf-8"></script>
			<script src="../../scripts/plus/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
			<script src="../../scripts/plus/laydate.js" type="text/javascript" charset="utf-8"></script>
			<script src="../../kindeditor/kindeditor-min.js" type="text/javascript" charset="utf-8"></script>
			<script src="../../kindeditor/lang/zh_CN.js" type="text/javascript" charset="utf-8"></script>
			<script src="../../scripts/plus/common.js" type="text/javascript" charset="utf-8"></script>
			<script src="../../scripts/LuckyDraw.js" type="text/javascript" charset="utf-8"></script>
			<script>
				KindEditor.ready(function(K) {
					K.create('textarea[name="content"]', {
						autoHeightMode: true,
						afterCreate: function() {
							this.loadPlugin('autoheight');
						}
					});
				});
			</script>

</html>