<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>汇银乐虎总后台管理系统-乐虎券</title>
		<link href="../../style/plus/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="../../style/plus/laydate.css" />
		<link rel="stylesheet" type="text/css" href="../../style/plus/laytime.css" />
		<link href="../../style/plus/common.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="../../style/MarketingManagement/YueTiger.css" />

	</head>

	<body>
		<!--乐虎券-->
		<div class="common-view">
			<!--标题-->
			<p class="common-title">营销管理<span>&gt;</span>乐虎券</p>
			<div class="comments">
				<!--抽奖活动列表-->
				<div class="comments-search">
					<p class="common-little-title">活动列表</p>
					<div class="comments-search-item">
						<div class="form-inline">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">优惠券活动名称</span><input type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">会员等级</span>
									<select class="form-control">
										<option value="0" selected>普通会员</option>
										<option value="1">黄金会员</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">活动状态</span>
									<select class="form-control">
										<option value="0" selected="selected">进行中</option>
										<option value="1">已关闭</option>
										<option value="2">未开始</option>
										<option value="3">待审核</option>
										<option value="4">已结束</option>
									</select>
								</div>
							</div>
							<!--<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">适用范围</span>
									<select class="form-control">
										<option value="0" selected>分类商品</option>
										<option value="1">全场商品</option>
									</select>
								</div>
							</div>-->
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">领券时间</span><input type="text" id="beginTime" class="form-control" />
								</div>
								<span>&nbsp;~&nbsp;&nbsp;</span><input type="text" id="endTime" class="form-control" />
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">用券时间</span><input type="text" id="CbeginTime" class="form-control" />
								</div>
								<span>&nbsp;~&nbsp;&nbsp;</span><input type="text" id="CendTime" class="form-control" />
							</div>
							<div class="form-group">
								<a href="javascript:;" class="btn btn-primary">查询</a>
							</div>
						</div>
						<div class="data-reset">
							<a href="AddActivity.html" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;新增活动</a>
							<a href="javascript:;" class="btn btn-info"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;&nbsp;导出</a>
						</div>
					</div>
				</div>
				<!--/订单查询-->
				<!--订单列表-->
				<div class=" comments-list">
					<div class="tab-content">
						<!--活动列表-->
						<div class="tab-pane fade in active" id="AllOrder">
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th class="col-md-2">优惠券名称</th>
										<th class="col-md-2">领券时间</th>
										<th class="col-md-2">用券时间</th>
										<th class="col-md-1">会员等级</th>
										<th class="col-md-1">适用范围</th>
										<th class="col-md-1">发放方式</th>
										<th class="col-md-1">活动状态</th>
										<th class="col-md-2">操作</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>中秋节优惠券 For 最在意的人</td>
										<td>2016-09-20 00：00：00~<br/> 2016-09-28 24：00：00</td>
										<td>2016-09-20 00：00：00~<br/> 2016-09-28 24：00：00</td>
										<td>新会员专享</td>
										<td>分类商品</td>
										<td>自动推送</td>
										<td>进行中</td>
										<td>
											<a data-toggle="modal" data-target="#Close">关闭</a>
											<a href="couponControl.html">券码管理</a>
										</td>
									</tr>
									<tr>
										<td>中秋节优惠券 For 最在意的人</td>
										<td>2016-09-20 00：00：00~<br/> 2016-09-28 24：00：00</td>
										<td>2016-09-20 00：00：00~<br/> 2016-09-28 24：00：00</td>
										<td>普通会员</td>
										<td>全场商品</td>
										<td>自动推送</td>
										<td>已关闭</td>
										<td>
											<a href="couponControl.html">券码管理</a>
										</td>
									</tr>
									<tr>
										<td>中秋节优惠券 For 最在意的人</td>
										<td>2016-09-20 00：00：00~<br/> 2016-09-28 24：00：00</td>
										<td>2016-09-20 00：00：00~<br/> 2016-09-28 24：00：00</td>
										<td>普通会员</td>
										<td>分类商品</td>
										<td>自动推送</td>
										<td>未开始</td>
										<td>
											<a data-toggle="modal" data-target="#Close">关闭</a>
											<a href="couponControl.html">券码管理</a>
										</td>
									</tr>
									<tr>
										<td>中秋节优惠券 For 最在意的人</td>
										<td>2016-09-20 00：00：00~<br/> 2016-09-28 24：00：00</td>
										<td>2016-09-20 00：00：00~<br/> 2016-09-28 24：00：00</td>
										<td>普通会员</td>
										<td>全场商品</td>
										<td>自动推送</td>
										<td>待审核</td>
										<td>
											<a data-toggle="modal" data-target="#Close">关闭</a>
											<a data-toggle="modal" data-target="#ToExamine">审核</a>
											<a href="couponControl.html">券码管理</a>
										</td>
									</tr>
									<tr>
										<td>中秋节优惠券 For 最在意的人</td>
										<td>2016-09-20 00：00：00~<br/> 2016-09-28 24：00：00</td>
										<td>2016-09-20 00：00：00~<br/> 2016-09-28 24：00：00</td>
										<td>新会员专享</td>
										<td>分类商品</td>
										<td>自动推送</td>
										<td>已结束</td>
										<td>
											<a href="couponControl.html">券码管理</a>
										</td>
									</tr>

								</tbody>
							</table>
						</div>
						<!--/活动列表-->
					</div>
					<!--分页器-->
					<div class="fixed">
						<div class="list-fenye">
							<span>共100</span>
							<span><em>1/5</em>页</span>
							<ul class="pagination">
								<li>
									<a href="#">&laquo;</a>
								</li>
								<li class="active">
									<a href="#">1</a>
								</li>
								<li>
									<a href="#">2</a>
								</li>
								<li>
									<a href="#">3</a>
								</li>
								<li>
									<a href="#">4</a>
								</li>
								<li>
									<a href="#">5</a>
								</li>
								<li>
									<a href="#">&raquo;</a>
								</li>
							</ul>
							<span>跳转到<input type="text"></span>
							<a href="javascript:;" class="btn btn-primary">确定</a>
						</div>
					</div>
					<!--/分页器-->
				</div>
				<!--/活动列表-->
			</div>
		</div>
		<!--/乐虎券-->
		<!-- 新增活动等级模态框（Modal） -->
		<div class="modal fade" id="AddActivity" tabindex="-1" role="dialog" aria-labelledby="AddActivityLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="AddActivityLabel">新增活动</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-3 control-label">活动名称:</label>
								<div class="col-md-5">
									<input type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">活动时间:</label>
								<div class="col-md-9 ActivityTime">
									<input id="CbeginTime" class="form-control" type="text" /><span>~</span>
									<input id="CendTime" class="form-control" type="text" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">会员等级:</label>
								<div class="col-md-3">
									<select class="form-control">
										<option value="0" selected="selected">新会员专享</option>
										<option value="0">会员等级1</option>
										<option value="0">会员等级2</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">奖品总数:</label>
								<div class="col-md-5">
									<input type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">等级条件:</label>
								<div class="col-md-9">
									<div class="GradeCondition">
										<span class="slideDown">+</span>
										<p>奖品名称:</p><input type="text" class="PrizeName form-control" /></div>
									<div class="GradeCondition">
										<p>中奖概率:</p><input type="text" class="form-control" />&nbsp;%
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary modal-btn-primary">确认</button>
						<button type="button" class="btn btn-default modal-btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!-- 新增活动等级模态框（Modal） -->
		<!--关闭模态框模态框（Modal） -->
		<div class="modal fade" id="Close" tabindex="-1" role="dialog" aria-labelledby="CloseLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="CloseLabel">关闭</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-12 control-label">你确定要关闭此项吗?</label>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary modal-btn-primary">提交</button>
						<button type="button" class="btn btn-default modal-btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!--关闭模态框模态框（Modal） -->
		<!--审核模态框模态框（Modal） -->
		<div class="modal fade" id="ToExamine" tabindex="-1" role="dialog" aria-labelledby="ToExamineLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="ToExamineLabel">审核商品</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-3 control-label">审核条件:</label>
								<div class="col-sm-8">
									<textarea class="form-control"></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary modal-btn-primary">提交</button>
						<button type="button" class="btn btn-default modal-btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!--审核模态框模态框（Modal） -->
	</body>
	<script src="../../scripts/plus/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/laydate.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/common.js" type="text/javascript" charset="utf-8"></script>

</html>