<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>汇银乐虎总后台管理系统-会员积分</title>
		<link href="../../style/plus/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="../../style/plus/common.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="../../style/MemberManagement/MemberPoints.css" />
	</head>

	<body>
		<!--会员积分-->
		<div class="common-view">
			<!--标题-->
			<p class="common-title">会员管理<span>&gt;</span>会员积分</p>
			<!--评论-->
			<div class="comments">
				<!--评论查询-->
				<div class="comments-search">
					<p class="common-little-title">积分列表</p>
					<div class="comments-search-item">
						<div class="form-inline">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">会员名称</span><input type="text" class="form-control"></div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">手机号码</span><input type="text" class="form-control"></div>
							</div>

							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">操作人</span><input type="text" class="form-control"></div>
							</div>
							<div class="form-group">
								<a href="javascript:;" class="btn btn-primary">查询</a>
							</div>
						</div>
						<div class="data-reset">
							<a data-toggle="modal" data-target="#MemberChange" class="btn btn-info">积分变动</a>
							<a href="javascript:;" class="btn btn-info"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;&nbsp;导出</a>
						</div>
					</div>
				</div>
				<!--/会员查询-->
				<!--订单列表-->
				<div class="comments-list">
					<div class="tab-content">
						<div class="tab-pane fade in active" id="list">
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th class="col-md-2">会员名称</th>
										<th class="col-md-2">积分变动时间</th>
										<th class="col-md-2">变动类型</th>
										<th class="col-md-2">变动额度</th>
										<th class="col-md-2">变动原因</th>
										<th class="col-md-2">操作人</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>张三 <br/>18000000000</td>
										<td>2016.11.11 22：22：22</td>
										<td>增加</td>
										<td>888</td>
										<td>注册赠送</td>
										<td>System</td>
									</tr>
									<tr>
										<td>张三 <br/>18000000000</td>
										<td>2016.11.11 22：22：22</td>
										<td>减少</td>
										<td>-762</td>
										<td>订单抵扣<br/>345345324523452345</td>
										<td>System</td>
									</tr>
									<tr>
										<td>张三 <br/>18000000000</td>
										<td>2016.11.11 22：22：22</td>
										<td>增加</td>
										<td>888</td>
										<td>注册赠送</td>
										<td>System</td>
									</tr>
									<tr>
										<td>张三 <br/>18000000000</td>
										<td>2016.11.11 22：22：22</td>
										<td>减少</td>
										<td>-762</td>
										<td>订单抵扣<br/>345345324523452345</td>
										<td>System</td>
									</tr>
									<tr>
										<td>张三 <br/>18000000000</td>
										<td>2016.11.11 22：22：22</td>
										<td>增加</td>
										<td>888</td>
										<td>注册赠送</td>
										<td>System</td>
									</tr>
									<tr>
										<td>张三 <br/>18000000000</td>
										<td>2016.11.11 22：22：22</td>
										<td>减少</td>
										<td>-762</td>
										<td>订单抵扣<br/>345345324523452345</td>
										<td>System</td>
									</tr>
									<tr>
										<td>张三 <br/>18000000000</td>
										<td>2016.11.11 22：22：22</td>
										<td>增加</td>
										<td>888</td>
										<td>注册赠送</td>
										<td>System</td>
									</tr>
									<tr>
										<td>张三 <br/>18000000000</td>
										<td>2016.11.11 22：22：22</td>
										<td>减少</td>
										<td>-762</td>
										<td>订单抵扣<br/>345345324523452345</td>
										<td>System</td>
									</tr>
									<tr>
										<td>张三 <br/>18000000000</td>
										<td>2016.11.11 22：22：22</td>
										<td>增加</td>
										<td>888</td>
										<td>注册赠送</td>
										<td>System</td>
									</tr>
									<tr>
										<td>张三 <br/>18000000000</td>
										<td>2016.11.11 22：22：22</td>
										<td>减少</td>
										<td>-762</td>
										<td>订单抵扣<br/>345345324523452345</td>
										<td>System</td>
									</tr>
									<tr>
										<td>张三 <br/>18000000000</td>
										<td>2016.11.11 22：22：22</td>
										<td>增加</td>
										<td>888</td>
										<td>注册赠送</td>
										<td>System</td>
									</tr>
									<tr>
										<td>张三 <br/>18000000000</td>
										<td>2016.11.11 22：22：22</td>
										<td>减少</td>
										<td>-762</td>
										<td>订单抵扣<br/>345345324523452345</td>
										<td>System</td>
									</tr>
									<tr>
										<td>张三 <br/>18000000000</td>
										<td>2016.11.11 22：22：22</td>
										<td>增加</td>
										<td>888</td>
										<td>注册赠送</td>
										<td>System</td>
									</tr>
									<tr>
										<td>张三 <br/>18000000000</td>
										<td>2016.11.11 22：22：22</td>
										<td>减少</td>
										<td>-762</td>
										<td>订单抵扣<br/>345345324523452345</td>
										<td>System</td>
									</tr>
									<tr>
										<td>张三 <br/>18000000000</td>
										<td>2016.11.11 22：22：22</td>
										<td>增加</td>
										<td>888</td>
										<td>注册赠送</td>
										<td>System</td>
									</tr>
									<tr>
										<td>张三 <br/>18000000000</td>
										<td>2016.11.11 22：22：22</td>
										<td>减少</td>
										<td>-762</td>
										<td>订单抵扣<br/>345345324523452345</td>
										<td>System</td>
									</tr>
									<tr>
										<td>张三 <br/>18000000000</td>
										<td>2016.11.11 22：22：22</td>
										<td>增加</td>
										<td>888</td>
										<td>注册赠送</td>
										<td>System</td>
									</tr>
									<tr>
										<td>张三 <br/>18000000000</td>
										<td>2016.11.11 22：22：22</td>
										<td>减少</td>
										<td>-762</td>
										<td>订单抵扣<br/>345345324523452345</td>
										<td>System</td>
									</tr>
									<tr>
										<td>张三 <br/>18000000000</td>
										<td>2016.11.11 22：22：22</td>
										<td>增加</td>
										<td>888</td>
										<td>注册赠送</td>
										<td>System</td>
									</tr>
									<tr>
										<td>张三 <br/>18000000000</td>
										<td>2016.11.11 22：22：22</td>
										<td>减少</td>
										<td>-762</td>
										<td>订单抵扣<br/>345345324523452345</td>
										<td>System</td>
									</tr>
									<tr>
										<td>张三 <br/>18000000000</td>
										<td>2016.11.11 22：22：22</td>
										<td>增加</td>
										<td>888</td>
										<td>注册赠送</td>
										<td>System</td>
									</tr>
									<tr>
										<td>张三 <br/>18000000000</td>
										<td>2016.11.11 22：22：22</td>
										<td>减少</td>
										<td>-762</td>
										<td>订单抵扣<br/>345345324523452345</td>
										<td>System</td>
									</tr>
									<tr>
										<td>张三 <br/>18000000000</td>
										<td>2016.11.11 22：22：22</td>
										<td>增加</td>
										<td>888</td>
										<td>注册赠送</td>
										<td>System</td>
									</tr>
									<tr>
										<td>张三 <br/>18000000000</td>
										<td>2016.11.11 22：22：22</td>
										<td>减少</td>
										<td>-762</td>
										<td>订单抵扣<br/>345345324523452345</td>
										<td>System</td>
									</tr>
									<tr>
										<td>张三 <br/>18000000000</td>
										<td>2016.11.11 22：22：22</td>
										<td>增加</td>
										<td>888</td>
										<td>注册赠送</td>
										<td>System</td>
									</tr>
									<tr>
										<td>张三 <br/>18000000000</td>
										<td>2016.11.11 22：22：22</td>
										<td>减少</td>
										<td>-762</td>
										<td>订单抵扣<br/>345345324523452345</td>
										<td>System</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<!--分页器-->
					<div class="fixed">
						<div class="list-fenye">
							<span>共100</span>
							<span><em>1/5</em>页</span>
							<ul class="pagination">
								<li>
									<a href="#">&laquo;</a>
								</li>
								<li class="active">
									<a href="#">1</a>
								</li>
								<li>
									<a href="#">2</a>
								</li>
								<li>
									<a href="#">3</a>
								</li>
								<li>
									<a href="#">4</a>
								</li>
								<li>
									<a href="#">5</a>
								</li>
								<li>
									<a href="#">&raquo;</a>
								</li>
							</ul>
							<span>跳转到<input type="text"></span>
							<a href="javascript:;" class="btn btn-primary">确定</a>
						</div>
					</div>
					<!--/分页器-->
				</div>
				<!--订单列表-->
			</div>
		</div>
		<!--/会员积分-->
		<!--积分变动模态框（Modal） -->
		<div class="modal fade" id="MemberChange" tabindex="-1" role="dialog" aria-labelledby="MemberChangeLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="MemberChangeLabel">积分变动</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-3 control-label">会员个数:</label>
								<div class="col-md-9">
									<label class="radio-inline single">
                                        <input class="Location" type="radio" name="radio"/>单个或多个会员
                                    </label>
									<label class="radio-inline Grade">
                                        <input class="Location" type="radio" name="radio"/>会员等级
                                    </label>
									<label class="radio-inline whole">
                                        <input class="Location" type="radio" name="radio"/>全体会员
                                    </label>
								</div>
							</div>
							<div class="form-group MemberName">
								<label class="col-md-3 control-label"> 会员名称:</label>
								<div class="col-md-9">
									<input type="text" class="form-control" placeholder="多个以;隔开">
								</div>
							</div>
							<div class="form-group MembershipLevel">
								<label class="col-md-3 control-label">会员等级:</label>
								<div class="col-sm-3">
									<select class="form-control">
										<option value="0" selected>等级1</option>
										<option value="2">等级2</option>
										<option value="3">等级3</option>
										<option value="4">等级4</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">变动类型:</label>
								<div class="col-md-3">
									<select class="form-control">
										<option value="0" selected>增加</option>
										<option value="2">减少</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">变动额度:</label>
								<div class="col-sm-3">
									<input type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">变动原因:</label>
								<div class="col-sm-9">
									<input type="text" class="form-control">
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary modal-btn-primary">提交</button>
						<button type="button" class="btn btn-default modal-btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!--积分变动模态框（Modal） -->
	</body>
	<script src="../../scripts/plus/jquery.min.js " type="text/javascript " charset="utf-8 "></script>
	<script src="../../scripts/plus/bootstrap.min.js " type="text/javascript " charset="utf-8 "></script>
	<script type="text/javascript">
		$(function() {
			$(".single").on('click', function() {
				$(".MembershipLevel").hide();
				$(".MemberName").show();
			})
		})
		$(function() {
			$(".Grade").on('click', function() {
				$(".MemberName").hide();
				$(".MembershipLevel").show();
			})
		})
		$(function() {
			$(".whole").on('click', function() {
				$(".MemberName").hide();
				$(".MembershipLevel").hide();
			})
		})
	</script>

</html>