html body {
	font-weight: 500;
}

.LeftBox {
	width: 50%;
	float: left;
}

.LeftBox ul li {
	margin: 10px 0;
	zoom: 1;
	overflow: auto;
	overflow-y: hidden;
}

.LeftBox>ul>li>label {
	width: 100%;
	height: 100%;
}

.LeftBox>ul li span {
	width: 14%;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	font-weight: bold;
	text-align: right;
	float: left;
	margin: 0 2%;
}

.LeftBox>ul li b {
	width: 20px;
	height: 35px;
	line-height: 35px;
	float: left;
	text-align: center;
}

.LeftBox ul li input[type="text"] {
	width: 30%;
	float: left;
}

.LeftBox ul li select {
	float: left;
	width: 30%;
}
.LeftBox ul li select,
.LeftBox ul li input[type="text"] {
	font-weight: 500;
}
.massage {
	width: auto;
	margin: 0 10px;
	float: left;
	height: 34px;
	line-height: 34px;
	color: #FF0000;
}