  /*修改消息模态框*/
  
  #ModifyMessage .form-group input[type="text"] {
  	width: 200px !important;
  }
  
  #ModifyMessage .form-group input[type="checkbox"] {
  	width: 13px;
  	height: 13px;
  	position: relative;
  	top: 2px;
  }
  
   .textarea {
    width: 350px;
    height: 200px;
    position: absolute;
    background: none;
    z-index: 9
  }
  
  .note {
    position: absolute;
    line-height: 20px;
    padding: 3px 5px;
  }