<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>汇银乐虎总后台商品管理-商品分类</title>
		<link href="../../style/plus/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="../../style/plus/common.css" rel="stylesheet" type="text/css">
		<link href="../../style/CommodityManagement/CommodityClassification.css" rel="stylesheet" type="text/css">
	</head>

	<body>
		<!--商品分类-->
		<div class="common-view">
			<!--标题-->
			<p class="common-title">商品管理<span>&gt;</span>商品分类</p>
			<!--分类-->
			<div class="comments">
				<!--分类列表-->
				<div class="comments-list">
					<div class="tab-content">
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th class="col-md-4">
										<div class="searchBox form-control"><input class="SearchBar" type="text" placeholder="请输入名称查找" /><span class="Search glyphicon glyphicon-search"></span></div>
									</th>
									<th class="col-md-4">
										<div class="searchBox form-control"><input class="SearchBar" type="text" placeholder="请输入名称查找" /><span class="Search glyphicon glyphicon-search"></span></div>
									</th>
									<th class="col-md-4">
										<div class="searchBox form-control"><input class="SearchBar" type="text" placeholder="请输入名称查找" /><span class="Search glyphicon glyphicon-search"></span></div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<a data-toggle="modal" data-target="#OneLevelClassification">
											<p class="AddCategory"><span class="glyphicon glyphicon-plus"></span>添加一级分类</p>
										</a>
										<ul class="ClassA">
											<li class="active2">
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditLevelClassification">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#deleteSelectedEntry">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
											<li>
												<div>电脑办公</div>
												<span>
													<a data-toggle="modal" data-target="#EditLevelClassification">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#deleteSelectedEntry">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
											<li>
												<div>鞋包&nbsp;箱包</div>
												<span>
													<a data-toggle="modal" data-target="#EditLevelClassification">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#deleteSelectedEntry">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
											<li>
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditLevelClassification">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#deleteSelectedEntry">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
											<li>
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditLevelClassification">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#deleteSelectedEntry">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
											<li>
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditLevelClassification">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#deleteSelectedEntry">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
											<li>
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditLevelClassification">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#deleteSelectedEntry">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
											<li>
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditLevelClassification">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#deleteSelectedEntry">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
											<li>
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditLevelClassification">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#deleteSelectedEntry">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
											<li>
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditLevelClassification">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#deleteSelectedEntry">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
											<li>
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditLevelClassification">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#deleteSelectedEntry">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
											<li>
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditLevelClassification">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#deleteSelectedEntry">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
											<li>
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditLevelClassification">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#deleteSelectedEntry">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
										</ul>
									</td>
									<td>
										<a data-toggle="modal" data-target="#TwoLevelClassification">
											<p class="AddCategory"><span class="glyphicon glyphicon-plus"></span>添加二级分类</p>
										</a>
										<ul class="ClassB">
											<li class="active2">
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditTwoLevels">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#deleteSelectedEntry">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
											<li>
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditTwoLevels">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#deleteSelectedEntry">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
											<li>
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditTwoLevels">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#deleteSelectedEntry">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
											<li>
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditTwoLevels">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#deleteSelectedEntry">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
											<li>
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditTwoLevels">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#deleteSelectedEntry">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
											<li>
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditTwoLevels">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#deleteSelectedEntry">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
											<li>
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditTwoLevels">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#deleteSelectedEntry">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
											<li>
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditTwoLevels">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#deleteSelectedEntry">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
											<li>
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditTwoLevels">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#deleteSelectedEntry">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
											<li>
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditTwoLevels">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#deleteSelectedEntry">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
											<li>
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditTwoLevels">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#deleteSelectedEntry">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
											<li>
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditTwoLevels">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#deleteSelectedEntry">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>

										</ul>
									</td>
									<td>
										<a data-toggle="modal" data-target="#ThreeLevelClassification">
											<p class="AddCategory"><span class="glyphicon glyphicon-plus"></span>添加三级分类</p>
										</a>
										<ul class="ClassC">
											<li class="active2">
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditThreeLevels">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#confirmDeletion">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
											<li>
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditThreeLevels">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#confirmDeletion">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
											<li>
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditThreeLevels">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#confirmDeletion">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
											<li>
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditThreeLevels">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#confirmDeletion">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
											<li>
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditThreeLevels">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#confirmDeletion">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
											<li>
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditThreeLevels">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#confirmDeletion">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
											<li>
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditThreeLevels">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#confirmDeletion">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
											<li>
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditThreeLevels">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#confirmDeletion">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
											<li>
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditThreeLevels">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#confirmDeletion">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
											<li>
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditThreeLevels">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#confirmDeletion">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
											<li>
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditThreeLevels">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#confirmDeletion">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
											<li>
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditThreeLevels">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#confirmDeletion">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
											<li>
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditThreeLevels">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#confirmDeletion">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>
											<li>
												<div>家用电器</div>
												<span>
													<a data-toggle="modal" data-target="#EditThreeLevels">
														<b class="glyphicon glyphicon-edit"></b>
 													</a>
													<a data-toggle="modal" data-target="#confirmDeletion">
 												 		<b class="glyphicon glyphicon-trash"></b>
													</a>
										 		</span>
											</li>

										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!--/商品分类-->
		<!--添加一级分类模态框（Modal） -->
		<div class="modal fade" id="OneLevelClassification" tabindex="-1" role="dialog" aria-labelledby="OneLevelClassificationLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="OneLevelClassificationLabel">添加一级分类</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-3 control-label">分类名称:</label>
								<div class="col-md-5">
									<input type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">上级分类:</label>
								<div class="col-md-5">
									<select class="form-control">
										<option value="">所有</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">排序:</label>
								<div class="col-md-5">
									<input class="form-control" type="text" value="0" />
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary modal-btn-primary">提交</button>
						<button type="button" class="btn btn-default modal-btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!--添加一级分类模态框（Modal） -->
		<!--添加分类二级模态框（Modal） -->
		<div class="modal fade" id="TwoLevelClassification" tabindex="-1" role="dialog" aria-labelledby="TwoLevelClassificationLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="TwoLevelClassificationLabel">添加二级分类</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-3 control-label">分类名称:</label>
								<div class="col-md-5">
									<input type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">上级分类:</label>
								<div class="col-md-5">
									<select class="form-control">
										<option value="">家用电器</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">排序:</label>
								<div class="col-md-5">
									<input class="form-control" type="text" value="0" />
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary modal-btn-primary">提交</button>
						<button type="button" class="btn btn-default modal-btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!--添加二级分类模态框（Modal） -->
		<!--添加三级分类模态框（Modal） -->
		<div class="modal fade" id="ThreeLevelClassification" tabindex="-1" role="dialog" aria-labelledby="ThreeLevelClassificationLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="ThreeLevelClassificationLabel">添加三级分类</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-3 control-label">分类名称:</label>
								<div class="col-md-5">
									<input type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">缩略图:</label>
								<div class="col-md-9 browse">
									<input type="text" class="form-control" readonly="readonly" />
									<a class="btn btn-primary">上传</a>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">上级分类:</label>
								<div class="col-md-5">
									<select class="form-control">
										<option value="">电视</option>
										<option value="">空调</option>
										<option value="">洗衣机</option>
										<option value="">电饭煲</option>
										<option value="">蒸锅</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">排序:</label>
								<div class="col-md-5">
									<input class="form-control" type="text" value="0" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">佣金:</label>
								<div class="col-md-5">
									<input class="form-control" type="text" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">税率:</label><i>%</i>
								<div class="col-md-5">
									<input class="form-control" type="text" />
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary modal-btn-primary">提交</button>
						<button type="button" class="btn btn-default modal-btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!--添加三级分类模态框（Modal） -->
		<!--编辑一级分类模态框（Modal） -->
		<div class="modal fade" id="EditLevelClassification" tabindex="-1" role="dialog" aria-labelledby="EditLevelClassificationLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="EditLevelClassificationLabel">编辑一级分类</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-3 control-label">分类名称:</label>
								<div class="col-md-5">
									<input type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">上级分类:</label>
								<div class="col-md-5">
									<select class="form-control">
										<option value="">所有</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">排序:</label>
								<div class="col-md-5">
									<input class="form-control" type="text" value="0" />
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary modal-btn-primary">提交</button>
						<button type="button" class="btn btn-default modal-btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!--/编辑一级分类模态框（Modal） -->
		<!--编辑分类二级模态框（Modal） -->
		<div class="modal fade" id="EditTwoLevels" tabindex="-1" role="dialog" aria-labelledby="EditTwoLevelsLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="EditTwoLevelsLabel">编辑二级分类</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-3 control-label">分类名称:</label>
								<div class="col-md-5">
									<input type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">上级分类:</label>
								<div class="col-md-5">
									<select class="form-control">
										<option value="">家用电器</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">排序:</label>
								<div class="col-md-5">
									<input class="form-control" type="text" value="0" />
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary modal-btn-primary">提交</button>
						<button type="button" class="btn btn-default modal-btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!--编辑二级分类模态框（Modal） -->
		<!--编辑三级分类模态框（Modal） -->
		<div class="modal fade" id="EditThreeLevels" tabindex="-1" role="dialog" aria-labelledby="EditThreeLevelsLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="EditThreeLevelsLabel">编辑三级分类</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-3 control-label">分类名称:</label>
								<div class="col-md-5">
									<input type="text" class="form-control" placeholder="国产品牌">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">缩略图:</label>
								<div class="col-md-9 browse">
									<input type="text" class="form-control" readonly="readonly" />
									<a class="btn btn-primary">上传</a>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">上级分类:</label>
								<div class="col-md-5">
									<select class="form-control">
										<option value="">电视</option>
										<option value="">空调</option>
										<option value="">洗衣机</option>
										<option value="">电饭煲</option>
										<option value="">蒸锅</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">排序:</label>
								<div class="col-md-5">
									<input class="form-control" type="text" value="1" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">佣金:</label>
								<div class="col-md-5">
									<input class="form-control" type="text" value="1" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">税率:</label><i>%</i>
								<div class="col-md-5">
									<input class="form-control" type="text" />
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary modal-btn-primary">提交</button>
						<button type="button" class="btn btn-default modal-btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!--编辑三级分类模态框（Modal） -->
		<!--删除一/二级分类模态框（Modal） -->
		<div class="modal fade" id="deleteSelectedEntry" tabindex="-1" role="dialog" aria-labelledby="deleteSelectedEntryLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title" id="deleteSelectedEntryLabel">操作提示</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-12 control-label">该分类下包含子分类，不能删除！</label>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">确认</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!--删除一/二级分类模态框（Modal） -->
		<!--删除三级分类模态框（Modal） -->
		<div class="modal fade" id="confirmDeletion" tabindex="-1" role="dialog" aria-labelledby="confirmDeletionLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title" id="confirmDeletionLabel">操作提示</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-12 control-label">确定要删除此分类吗?</label>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary">确定</button>
						<button type="button" class="btn btn-default  " data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!--删除三级分类模态框（Modal） -->
	</body>
	<script src="../../scripts/plus/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$("td>ul>li").on('mouseover', function() {
			$(this).addClass('active')
 		})
		$("td>ul>li").on('mouseout', function() {
			$(this).removeClass('active')
 		})
		/*一级分类*/
		$(".ClassA>li").on('click', function() {
 			$(this).addClass('active2');
			$(this).siblings().removeClass('active2');
 		})
 		/*二级分类*/
		$(".ClassB>li").on('click', function() {
 			$(this).addClass('active2');
			$(this).siblings().removeClass('active2');
 		})
		/*三级分类*/
		$(".ClassC>li").on('click', function() {
 			$(this).addClass('active2');
			$(this).siblings().removeClass('active2');
 		})
	</script>

</html>