<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>商品管理-查看商品</title>
		<link rel="stylesheet" type="text/css" href="../../style/plus/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../kindeditor/themes/default/default.css" />
		<link rel="stylesheet" type="text/css" href="../../style/plus/common.css" />
		<link rel="stylesheet" type="text/css" href="../../style/CommodityManagement/ViewVerchandise.css" />

	</head>

	<body>
		<!--店铺信息-->
		<div class="common-view">
			<!--模块标题-->
			<p class="common-title">商品管理<span>&gt;</span>查看商品</p>
			<!--主体内容-->
			<div class="comments">
				<!--店铺信息-->
				<div class="comments-search">
					<p class="common-little-title">查看商品列表</p>
					<div class="comments-search-item">
						<div class="comments-search-item-box">
							<div class="comments-search-item-lists">
								<span class="title">商品名称:</span>
								<p>汇银乐虎全球家汇银乐虎全球家汇银乐虎全球家汇银乐虎全球家汇银乐虎全球家汇银乐虎全球家</p>
							</div>
							<div class="comments-search-item-lists">
								<span class="title">供应商:</span>
								<p>美国福特公司美国福特公司美国福特公司美国福特公司美国福特公司美国福特公司美国福特公司美国福特公司美国福特公司</p>
							</div>
							<div class="comments-search-item-lists">
								<span class="title">虚拟库存:</span>
								<p>是</p>
							</div>
							<div class="comments-search-item-lists">
								<span class="title">商品品牌:</span>
								<p>商品品牌是啥商品品牌是啥商品品牌是啥商品品牌是啥商品品牌是啥商品品牌是啥商品品牌是啥商品品牌是啥商品品牌是啥</p>
							</div>
							<div class="comments-search-item-lists">
								<span class="title">商品产地:</span>
								<p>美国美国美国美国美国美国美国美国美国美国美国美国美国美国美国美国</p>
							</div>
							<div class="comments-search-item-lists">
								<span class="title">商品来源:</span>
								<p>一般贸易一般贸易一般贸易一般贸易一般贸易一般贸易一般贸易一般贸易一般贸易一般贸易一般贸易</p>
							</div>
							<div class="comments-search-item-lists">
								<span class="title">运费模板:</span>
								<p>这是一个运费模板的名称这是一个运费模板的名称这是一个运费模板的名称</p>
							</div>
							<div class="comments-search-item-lists">
								<span class="title">上架端:</span>
								<p>PC端&nbsp;&nbsp;&nbsp;&nbsp;App端</p>
							</div>
							<div class="comments-search-item-lists">
								<span class="title">商品详情:</span>
								<div class="PictureBox">
									<form>
										<textarea name="content" style="width:100%;height:200px;"></textarea>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--/店铺信息-->
				<div class="comments-list">
					<div class="tab-content">
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th class="col-md-1">商品规格商品规格商品规格</th>
									<th class="col-md-2">货号货号货号货号货号货号</th>
									<th class="col-md-1">条码条码条码条码条码条码条码</th>
									<th class="col-md-1">销量销量销量销量销量销量销量</th>
									<th class="col-md-1">销售价</th>
									<th class="col-md-1">税费</th>
									<th class="col-md-1">库存</th>
									<th class="col-md-1">成本价</th>
									<th class="col-md-2">重量</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>16G+亮黑色</td>
									<td>123456789123456789</td>
									<td>123456789</td>
									<td>123456789</td>
									<td>123456789</td>
									<td>123456789</td>
									<td>123456789</td>
									<td>123456789</td>
									<td>123456789</td>
								</tr>
								<tr>
									<td>32G+亮黑色</td>
									<td>123456789123456789</td>
									<td>123456789</td>
									<td>123456789</td>
									<td>123456789</td>
									<td>123456789</td>
									<td>123456789</td>
									<td>123456789</td>
									<td>123456789</td>
								</tr>
								<tr>
									<td>64G+亮黑色</td>
									<td>123456789123456789</td>
									<td>123456789</td>
									<td>123456789</td>
									<td>123456789</td>
									<td>123456789</td>
									<td>123456789</td>
									<td>123456789</td>
									<td>123456789</td>
								</tr>
								<tr>
									<td>128G+亮黑色</td>
									<td>123456789123456789</td>
									<td>123456789</td>
									<td>123456789</td>
									<td>123456789</td>
									<td>123456789</td>
									<td>123456789</td>
									<td>123456789</td>
									<td>123456789</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="comments-list OperationRecord">
					<p class="common-little-title">操作记录</p>
					<div class="tab-content">
						<div class="tab-pane fade in active">
							<table class="table table-hover">
								<thead>
									<tr>
										<th class="col-md-4">操作内容</th>
										<th class="col-md-3">操作时间</th>
										<th class="col-md-2">操作人</th>
										<th class="col-md-3">备注内容</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>审核订单</td>
										<td>2017.10.10 22:22:22</td>
										<td>客服1号</td>
										<td>用来做样例用来做样例用来做样例用来做样例 </td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/店铺信息-->
	</body>
	<script src="../../scripts/plus/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../kindeditor/kindeditor-min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../kindeditor/lang/zh_CN.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/common.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		/*富文本框插件*/
		KindEditor.ready(function(K) {
			K.create('textarea[name="content"]', {
				autoHeightMode: true,
				afterCreate: function() {
					this.loadPlugin('autoheight');
				},
				afterBlur: function() {
					this.sync();
				}
			});
		});
	</script>

</html>