<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>店铺管理-店铺详情</title>
		<link href="../../style/plus/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="../../style/plus/common.css" rel="stylesheet" type="text/css">
		<link href="../../style/StoreManagement/viewStoreDetails.css" rel="stylesheet" type="text/css">

	</head>

	<body>
		<!--店铺信息-->
		<div class="common-view">
			<!--模块标题-->
			<p class="common-title">店铺管理<span>&gt;</span>店铺详情</p>

			<!--主体内容-->
			<div class="storeMessage fixed">
				<!--店铺信息-->
				<div class="storeMessage-total">
					<p><span class="message-normal">商家店铺：</span><span class="message-title">乐虎自营</span></p>
					<p><span class="message-normal">公司地址：</span><span class="message-title">南京市江宁区天元东路莱茵量子国际大厦</span></p>
					<p><span class="message-normal">联系电话：</span><span class="message-title">18088888888</span></p>
					<p><span class="message-normal">联系人：</span><span class="message-title">乐虎</span></p>
					<p><span class="message-normal">电子邮箱：</span><span class="message-title">36521451124@qq.com</span></p>
					<p><span class="message-normal">店铺结算银行名称：</span><span class="message-title">中国银行南京分行</span></p>
					<p><span class="message-normal">结算账号：</span><span class="message-title">12354642434598724858</span></p>
					<p><span class="message-normal">公司名称（个人）：</span><span class="message-title">博士</span></p>
					<p><span class="message-normal">对账日：</span><span class="message-title">次日</span></p>
					<p><span class="message-normal">店铺有效期：</span><span class="message-title">2019.3.3</span></p>
					<p><span class="message-normal">店铺等级：</span><span class="message-title">等级1</span></p>
				</div>
				<!--/店铺信息-->
				<!--店铺证件-->
				<div class="storeMessage-card">

					<div class="card-certificate">
						<ul class="nav nav-tabs">
							<li class="active">
								<a href="#company-pic" data-toggle="tab">企业三证</a>
							</li>
							<li>
								<a href="#pic-total" data-toggle="tab">三证合一</a>
							</li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane fade in active" id="company-pic">
								<div class="company-pic">
									<p><span>企业营业执照（副本扫描件）：</span><img src="../../images/back_03.jpg" /></p>
									<p><span>企业税务登记证（副本扫描件）：</span><img src="../../images/back_03.jpg" /></p>
									<p><span>企业组织机构代码证：</span><img src="../../images/back_03.jpg" /></p>
								</div>
							</div>
							<div class="tab-pane fade " id="pic-total">
								<div class="pic-total">
									<p><span>企业组织机构代码证：</span><img src="../../images/back_03.jpg" /></p>
								</div>
							</div>
						</div>
					</div>

					<!--运营类目-->
					<div class="card-operating">
						<div class="tab-content">
							<div class="tab-pane fade in active" id="add-operating">
								<div class="add-operating">
									<table class="table  table-bordered">
										<thead>
											<tr>
												<th class="col-md-1">一级分类</th>
												<th class="col-md-1">二级分类</th>
												<th class="col-md-1">三级分类</th>
												<th class="col-md-1">佣金比例</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>酒水饮料</td>
												<td>葡萄酒</td>
												<td>干红</td>
												<td>5%</td>
											</tr>
											<tr>
												<td></td>
												<td></td>
												<td>干白</td>
												<td>8%</td>
											</tr>
											<tr>
												<td></td>
												<td>白酒</td>
												<td></td>
												<td>12%</td>
											</tr>
											<tr>
												<td>水果生鲜</td>
												<td>只选择一级分类后，列出下属二级三级所有分类；只选择一级和二级分类，则列出选择的二级分类下的所有三级分类项</td>
												<td></td>
												<td>20%</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--/店铺证件-->
			</div>
		</div>
		<!--/店铺信息-->
	</body>
	<script src="../../scripts/plus/jquery.min.js"></script>
	<script src="../../scripts/plus/bootstrap.min.js"></script>

</html>