<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>汇银乐虎总后台管理系统-订单详情</title>
		<link rel="stylesheet" type="text/css" href="../../style/plus/bootstrap.min.css" />
		<link href="../../style/plus/common.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="../../style/OrderManagement/OrderDetails.css" />
	</head>

	<body>
		<!--订单详情-->
		<div class="common-view">
			<!--标题-->
			<p class="common-title">订单管理<span>&gt;</span>订单详情</p>
			<div class="comments">
				<!--订单信息-->
				<div class="comments-search">
					<p class="common-little-title">订单信息</p>
					<div class="comments-search-item">
						<div class="form-inline">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">下单时间</span>
									<p class="form-control">83712098308941382943291</p>
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">订单总额</span>
									<p class="form-control">¥800.98</p>
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">用户名称</span>
									<p class="form-control">¥888.98</p>
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">订单号</span>
									<p class="form-control">83712098308941382943291</p>
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">税费总计</span>
									<p class="form-control">¥17.98</p>
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">订单状态</span>
									<p class="form-control">待审核</p>
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">交易号</span>
									<p class="form-control">23894729384923942283874</p>
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">支付类型</span>
									<p class="form-control">支付宝</p>
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">订单来源</span>
									<p class="form-control">IOS</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--/店铺信息-->
				<div class="comments-list">
					<p class="common-little-title ReceivingInformation">收货信息</p>
					<div class="tab-content">
						<div class="tab-pane fade in active">
							<table class="table table-bordered">
								<tr>
									<td class="col-md-7"><span>收货人:</span>&nbsp;&nbsp;&nbsp;&nbsp;王小二</td>
									<td class="col-md-5"><span>邮编:</span>&nbsp;&nbsp;&nbsp;&nbsp;100000</td>
								</tr>
								<tr>
									<td><span>联系方式:</span>&nbsp;&nbsp;&nbsp;&nbsp;151713244268</td>
									<td><span>身份证号码:</span>&nbsp;&nbsp;&nbsp;&nbsp;100000100000100000100000</td>
								</tr>
								<tr>
									<td><span>地址:</span><span class="frt">江苏省南京市江宁区天元东路288号莱茵量子国际大厦10楼20001室大厅办公桌183838号左边</span>
									</td>
									<td><span>身份证照片:</span>&nbsp;&nbsp;&nbsp;&nbsp;
										<img src="../../images/back_03.jpg" />
										<img style="margin-left: 20px;" src="../../images/back_03.jpg" />
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="comments-list">
					<p class="common-little-title">商品信息</p>
					<div class="tab-content">
						<div class="tab-pane fade in active">
							<table class="table table-hover">
								<thead>
									<tr>
										<th class="col-md-3">商品名称</th>
										<th class="col-md-1">商品货号</th>
										<th class="col-md-2">供应商</th>
										<th class="col-md-1">商品单价</th>
										<th class="col-md-1">优惠金额</th>
										<th class="col-md-1">购买数量</th>
										<th class="col-md-1">税费</th>
										<th class="col-md-2">购买数量(KG)</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>IPhone 7 plus
										</td>
										<td>hhd73273
										</td>
										<td>中国进出口</td>
										<td>¥ 8888.00</td>
										<td>¥ 12.00</td>
										<td>5</td>
										<td>¥ 888.00</td>
										<td>0.2</td>
									</tr>
									<tr>
										<td>IPhone 7 plus
										</td>
										<td>hhd73273
										</td>
										<td>中国进出口</td>
										<td>¥ 8888.00</td>
										<td>¥ 12.00</td>
										<td>5</td>
										<td>¥ 888.00</td>
										<td>0.2</td>
									</tr>
									<tr>
										<td>IPhone 7 plus
										</td>
										<td>hhd73273
										</td>
										<td>中国进出口</td>
										<td>¥ 8888.00</td>
										<td>¥ 12.00</td>
										<td>5</td>
										<td>¥ 888.00</td>
										<td>0.2</td>
									</tr>
									<tr>
										<td>IPhone 7 plus
										</td>
										<td>hhd73273
										</td>
										<td>中国进出口</td>
										<td>¥ 8888.00</td>
										<td>¥ 12.00</td>
										<td>5</td>
										<td>¥ 888.00</td>
										<td>0.2</td>
									</tr>
									<tr>
										<td style="font-weight: bold;">活动赠品</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>IPhone 7 plus
										</td>
										<td>hhd73273
										</td>
										<td>中国进出口</td>
										<td>¥ 8888.00</td>
										<td>¥ 12.00</td>
										<td>5</td>
										<td>¥ 888.00</td>
										<td>0.2</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="comments-list">
					<p class="common-little-title">结算信息</p>
					<div class="tab-content">
						<div class="tab-pane fade in active">
							<table class="table table-hover">
								<thead>
									<tr>
										<th class="col-md-2">商品总价</th>
										<th class="col-md-1">税费</th>
										<th class="col-md-3">优惠额度</th>
										<th class="col-md-3">平台优惠</th>
										<th class="col-md-1">运费</th>
										<th class="col-md-2">支付金额</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>¥ 8222888.00</td>
										<td>
											<div class="SettlementInformation"><span class="SettlementInformationFlt">+</span><span class="SettlementInformationFrt">¥888.00</span></div>
										</td>
										<td>
											<div class="SettlementInformation"><span class="SettlementInformationFlt">-</span><span class="SettlementInformationFrt">店铺券¥12.00<br/>券码:983273732838982<br/>优惠金额：¥ 12.00 </span></div>
										</td>
										<td>
											<div class="SettlementInformation">
												<span class="SettlementInformationFlt">-</span><span class="SettlementInformationFrt">乐虎券¥12.00<br/>券码:983273732838982<br/>积分抵扣：¥ 12.00<br/>会员等级折让：¥ 12.00</span>
											</div>
										</td>
										<td>
											<div class="SettlementInformation"><span class="SettlementInformationFlt">+</span><span class="SettlementInformationFrt">（3.3kg）¥12.00</span></div>
										</td>
										<td>
											<div class="SettlementInformation"><span class="SettlementInformationFlt">=</span> <span class="SettlementInformationFrt">¥ 8222888.00</span></div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="comments-list">
					<p class="common-little-title">其他信息</p>
					<div class="Other">
						<div class="OtherLeft">
							<p style="margin-top: 50px;"><span>开票抬头：</span>张三</p>
							<p><span>用户备注信息：</span>测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</p>
						</div>
						<div class="OtherRight">
							<p class="CustomerInformation"><span>客服信息</span><textarea></textarea></p>
							<p>
								<a class="btn btn-primary" href="#">审核订单</a>
								<a class="btn btn-primary" href="#">取消订单</a>
							</p>
						</div>
					</div>
				</div>
				<div class="comments-list OperationRecord">
					<p class="common-little-title">操作记录</p>
					<div class="tab-content">
						<div class="tab-pane fade in active">
							<table class="table table-hover">
								<thead>
									<tr>
										<th class="col-md-4">操作内容</th>
										<th class="col-md-3">操作时间</th>
										<th class="col-md-2">操作人</th>
										<th class="col-md-3">备注内容</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>审核订单</td>
										<td>2017.10.10 22:22:22</td>
										<td>客服1号</td>
										<td>用来做样例用来做样<br />例用来做样例用来做<br />样例 </td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!--/订单详情列表-->
			</div>
		</div>
		<!--订单详情-->
	</body>
	<script src="../../scripts/plus/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

</html>