<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>汇银乐虎总后台管理系统-订单列表</title>
		<link href="../../style/plus/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="../../style/plus/laydate.css" />
		<link rel="stylesheet" type="text/css" href="../../style/plus/laytime.css" />
		<link href="../../style/plus/common.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="../../style/OrderManagement/OrderManagement.css" />

	</head>

	<body>
		<!--订单管理-->
		<div class="common-view">
			<!--标题-->
			<p class="common-title">订单管理<span>&gt;</span>订单列表</p>
			<div class="comments">
				<!--订单查询-->
				<div class="comments-search">
					<p class="common-little-title">订单列表</p>
					<div class="comments-search-item">
						<div class="form-inline">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">订单号</span><input type="text" class="form-control"></div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">下单时间</span><input id="beginTime" type="text" class="form-control" />
								</div>
								<span>&nbsp;~&nbsp;&nbsp;</span><input id="endTime" type="text" class="form-control" />
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">商家</span><input type="text" class="form-control"></div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">订单状态</span>
									<select class="form-control">
										<option value="0" selected>未付款</option>
										<option value="1">未审核</option>
										<option value="2">待发货</option>
										<option value="3">待收货</option>
										<option value="4">已完成</option>
										<option value="5">已取消</option>
										<option value="6">退货中</option>
										<option value="7">待退款</option>
										<option value="8">已退款</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">支付类型</span>
									<select class="form-control">
										<option value="0" selected>支付宝</option>
										<option value="1">微信</option>
										<option value="2">银联在线</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">用户ID</span><input type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">物流单号</span><input type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">供应商名称</span><input type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">商品名称</span><input type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<a href="javascript:;" class="btn btn-primary">查询</a>
							</div>
						</div>
						<div class="data-reset">
							<a href="javascript:;" class="btn btn-info"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;&nbsp;导出</a>
						</div>
					</div>
				</div>
				<!--/订单查询-->
				<!--订单列表-->
				<div class=" comments-list">
					<ul class="navTable nav nav-tabs">
						<li class="active">
							<a href="#AllOrder" data-toggle="tab">全部订单</a>
						</li>
						<li>
							<a href="#PaymentOrder" data-toggle="tab">待付款订单</a>
						</li>
						<li>
							<a href="#PendingOrder" data-toggle="tab">待审核订单</a>
						</li>
						<li>
							<a href="#OrderToDelivered" data-toggle="tab">待发货订单</a>
						</li>
						<li>
							<a href="#OrderToReceived" data-toggle="tab">待收货订单</a>
						</li>
						<li>
							<a href="#CancelledOrder" data-toggle="tab">已取消订单</a>
						</li>
						<li>
							<a href="#ReturnOrder" data-toggle="tab">退货订单</a>
						</li>
						<li>
							<a href="#RefundOrder" data-toggle="tab">退款订单</a>
						</li>
					</ul>
					<div class="tab-content">
						<!--全部订单-->
						<div class="tab-pane fade in active" id="AllOrder">
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th class="col-md-2">订单号（交易号）</th>
										<th class="col-md-1">下单时间</th>
										<th class="col-md-1">支付类型</th>
										<th class="col-md-1">订单总额</th>
										<th class="col-md-1">订单来源</th>
										<th class="col-md-1">用户ID</th>
										<th class="col-md-1">商家</th>
										<th class="col-md-1">订单状态</th>
										<th class="col-md-3">操作</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>3452435234532445325 PT3452435234532445325
										</td>
										<td>2017.11.11 22:22:22
										</td>
										<td>支付宝</td>
										<td>¥ 333.33</td>
										<td>IOS端</td>
										<td>18010001000</td>
										<td>乐虎自营</td>
										<td>未付款</td>
										<td>
											<a href="OrderDetails.html">查看</a>
											<a data-toggle="modal" data-target="#Cancel">取消</a>
											<a data-toggle="modal" data-target="#ReceiveHuo">收到货款</a>
											<a data-toggle="modal" data-target="#Remarks">备注</a>
										</td>
									</tr>
									<tr>
										<td>3452435234532445325 PT3452435234532445325
										</td>
										<td>2017.11.11 22:22:22
										</td>
										<td>支付宝</td>
										<td>¥ 333.33</td>
										<td>IOS端</td>
										<td>18010001000</td>
										<td>乐虎自营</td>
										<td>待审核</td>
										<td>
											<a href="OrderDetails.html">查看</a>
											<a data-toggle="modal" data-target="#Cancel">取消</a>
											<a data-toggle="modal" data-target="#ToExamine">审核</a>
											<a data-toggle="modal" data-target="#Remarks">备注</a>
										</td>
									</tr>
									<tr>
										<td>3452435234532445325 PT3452435234532445325
										</td>
										<td>2017.11.11 22:22:22
										</td>
										<td>支付宝</td>
										<td>¥ 333.33</td>
										<td>IOS端</td>
										<td>18010001000</td>
										<td>乐虎自营</td>
										<td>待发货</td>
										<td>
											<a href="OrderDetails.html">查看</a>
											<a data-toggle="modal" data-target="#DeliverGoods">发货</a>
											<a data-toggle="modal" data-target="#Cancel">取消</a>
											<a data-toggle="modal" data-target="#DirectCompletion">直接完成</a>
										</td>
									</tr>
									<tr>
										<td>3452435234532445325 PT3452435234532445325
										</td>
										<td>2017.11.11 22:22:22
										</td>
										<td>支付宝</td>
										<td>¥ 333.33</td>
										<td>IOS端</td>
										<td>18010001000</td>
										<td>乐虎自营</td>
										<td>待收货</td>
										<td>
											<a href="OrderDetails.html">查看</a>
											<a data-toggle="modal" data-target="#ModifyLogistics">修改物流</a>
										</td>
									</tr>
									<tr>
										<td>3452435234532445325 PT3452435234532445325
										</td>
										<td>2017.11.11 22:22:22
										</td>
										<td>支付宝</td>
										<td>¥ 333.33</td>
										<td>IOS端</td>
										<td>18010001000</td>
										<td>乐虎自营</td>
										<td>已完成</td>
										<td>
											<a href="OrderDetails.html">查看</a>
										</td>
									</tr>
									<tr>
										<td>3452435234532445325 PT3452435234532445325
										</td>
										<td>2017.11.11 22:22:22
										</td>
										<td>支付宝</td>
										<td>¥ 333.33</td>
										<td>IOS端</td>
										<td>18010001000</td>
										<td>乐虎自营</td>
										<td>退货中</td>
										<td>
											<a href="OrderDetails.html">查看</a>
										</td>
									</tr>
									<tr>
										<td>3452435234532445325 PT3452435234532445325
										</td>
										<td>2017.11.11 22:22:22
										</td>
										<td>支付宝</td>
										<td>¥ 333.33</td>
										<td>IOS端</td>
										<td>18010001000</td>
										<td>乐虎自营</td>
										<td>待退款</td>
										<td>
											<a href="OrderDetails.html">查看</a>
										</td>
									</tr>
									<tr>
										<td>3452435234532445325 PT3452435234532445325
										</td>
										<td>2017.11.11 22:22:22
										</td>
										<td>支付宝</td>
										<td>¥ 333.33</td>
										<td>IOS端</td>
										<td>18010001000</td>
										<td>乐虎自营</td>
										<td>已退款</td>
										<td>
											<a href="OrderDetails.html">查看</a>
										</td>
									</tr>
									<tr>
										<td>3452435234532445325 PT3452435234532445325
										</td>
										<td>2017.11.11 22:22:22
										</td>
										<td>支付宝</td>
										<td>¥ 333.33</td>
										<td>IOS端</td>
										<td>18010001000</td>
										<td>乐虎自营</td>
										<td>已取消</td>
										<td>
											<a href="OrderDetails.html">查看</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!--/全部订单-->
						<!--待付款订单-->
						<div class="tab-pane fade" id="PaymentOrder">
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th class="col-md-2">订单号（交易号）</th>
										<th class="col-md-1">下单时间</th>
										<th class="col-md-1">支付类型</th>
										<th class="col-md-1">订单总额</th>
										<th class="col-md-1">订单来源</th>
										<th class="col-md-1">用户ID</th>
										<th class="col-md-1">商家</th>
										<th class="col-md-1">订单状态</th>
										<th class="col-md-3">操作</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>3452435234532445325 PT3452435234532445325
										</td>
										<td>2017.11.11 22:22:22
										</td>
										<td>支付宝</td>
										<td>¥ 333.33</td>
										<td>IOS端</td>
										<td>18010001000</td>
										<td>乐虎自营</td>
										<td>未付款</td>
										<td>
											<a href="OrderDetails.html">查看</a>
											<a data-toggle="modal" data-target="#Cancel">取消</a>
											<a data-toggle="modal" data-target="#ReceiveHuo">收到货款</a>
											<a data-toggle="modal" data-target="#Remarks">备注</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!--/待付款订单-->
						<!--待审核订单-->
						<div class="tab-pane fade" id="PendingOrder">
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th class="col-md-2">订单号（交易号）</th>
										<th class="col-md-1">下单时间</th>
										<th class="col-md-1">支付类型</th>
										<th class="col-md-1">订单总额</th>
										<th class="col-md-1">订单来源</th>
										<th class="col-md-1">用户ID</th>
										<th class="col-md-1">商家</th>
										<th class="col-md-1">订单状态</th>
										<th class="col-md-3">操作</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>3452435234532445325 PT3452435234532445325
										</td>
										<td>2017.11.11 22:22:22
										</td>
										<td>支付宝</td>
										<td>¥ 333.33</td>
										<td>IOS端</td>
										<td>18010001000</td>
										<td>乐虎自营</td>
										<td>待审核</td>
										<td>
											<a href="OrderDetails.html">查看</a>
											<a data-toggle="modal" data-target="#ToExamine">审核</a>
											<a data-toggle="modal" data-target="#Remarks">备注</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!--/待审核订单-->
						<!--待发货订单-->
						<div class="tab-pane fade" id="OrderToDelivered">
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th class="col-md-2">订单号（交易号）</th>
										<th class="col-md-1">下单时间</th>
										<th class="col-md-1">支付类型</th>
										<th class="col-md-1">订单总额</th>
										<th class="col-md-1">订单来源</th>
										<th class="col-md-1">用户ID</th>
										<th class="col-md-1">商家</th>
										<th class="col-md-1">订单状态</th>
										<th class="col-md-3">操作</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>3452435234532445325 PT3452435234532445325
										</td>
										<td>2017.11.11 22:22:22
										</td>
										<td>支付宝</td>
										<td>¥ 333.33</td>
										<td>IOS端</td>
										<td>18010001000</td>
										<td>乐虎自营</td>
										<td>待发货</td>
										<td>
											<a href="OrderDetails.html">查看</a>
											<a href="javascript:;">发货</a>
											<a data-toggle="modal" data-target="#Cancel">取消</a>
											<a href="javascript:;">直接完成</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!--/待发货订单-->
						<!--待收货订单-->
						<div class="tab-pane fade" id="OrderToReceived">
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th class="col-md-2">订单号（交易号）</th>
										<th class="col-md-1">下单时间</th>
										<th class="col-md-1">支付类型</th>
										<th class="col-md-1">订单总额</th>
										<th class="col-md-1">订单来源</th>
										<th class="col-md-1">用户ID</th>
										<th class="col-md-1">商家</th>
										<th class="col-md-1">订单状态</th>
										<th class="col-md-3">操作</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>3452435234532445325 PT3452435234532445325
										</td>
										<td>2017.11.11 22:22:22
										</td>
										<td>支付宝</td>
										<td>¥ 333.33</td>
										<td>IOS端</td>
										<td>18010001000</td>
										<td>乐虎自营</td>
										<td>待收货</td>
										<td>
											<a href="OrderDetails.html">查看</a>
											<a href="javascript:;">修改物流</a>

										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!--/待收货订单-->
						<!--已取消订单-->
						<div class="tab-pane fade" id="CancelledOrder">
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th class="col-md-2">订单号（交易号）</th>
										<th class="col-md-1">下单时间</th>
										<th class="col-md-1">支付类型</th>
										<th class="col-md-1">订单总额</th>
										<th class="col-md-1">订单来源</th>
										<th class="col-md-1">用户ID</th>
										<th class="col-md-1">商家</th>
										<th class="col-md-1">订单状态</th>
										<th class="col-md-3">操作</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>3452435234532445325 PT3452435234532445325
										</td>
										<td>2017.11.11 22:22:22
										</td>
										<td>支付宝</td>
										<td>¥ 333.33</td>
										<td>IOS端</td>
										<td>18010001000</td>
										<td>乐虎自营</td>
										<td>已取消</td>
										<td>
											<a href="OrderDetails.html">查看</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!--/已取消订单-->
						<!--退货订单-->
						<div class="tab-pane fade" id="ReturnOrder">
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th class="col-md-2">订单号（交易号）</th>
										<th class="col-md-1">下单时间</th>
										<th class="col-md-1">支付类型</th>
										<th class="col-md-1">订单总额</th>
										<th class="col-md-1">订单来源</th>
										<th class="col-md-1">用户ID</th>
										<th class="col-md-1">商家</th>
										<th class="col-md-1">订单状态</th>
										<th class="col-md-3">操作</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>3452435234532445325 PT3452435234532445325
										</td>
										<td>2017.11.11 22:22:22
										</td>
										<td>支付宝</td>
										<td>¥ 333.33</td>
										<td>IOS端</td>
										<td>18010001000</td>
										<td>乐虎自营</td>
										<td>退货中</td>
										<td>
											<a href="OrderDetails.html">查看</a>
										</td>
									</tr>

								</tbody>
							</table>
						</div>
						<!--退货订单-->
						<!--退款订单-->
						<div class="tab-pane fade" id="RefundOrder">
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th class="col-md-2">订单号（交易号）</th>
										<th class="col-md-1">下单时间</th>
										<th class="col-md-1">支付类型</th>
										<th class="col-md-1">订单总额</th>
										<th class="col-md-1">订单来源</th>
										<th class="col-md-1">用户ID</th>
										<th class="col-md-1">商家</th>
										<th class="col-md-1">订单状态</th>
										<th class="col-md-3">操作</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>3452435234532445325 PT3452435234532445325
										</td>
										<td>2017.11.11 22:22:22
										</td>
										<td>支付宝</td>
										<td>¥ 333.33</td>
										<td>IOS端</td>
										<td>18010001000</td>
										<td>乐虎自营</td>
										<td>待退款</td>
										<td>
											<a href="OrderDetails.html">查看</a>
										</td>
									</tr>
									<tr>
										<td>3452435234532445325 PT3452435234532445325
										</td>
										<td>2017.11.11 22:22:22
										</td>
										<td>支付宝</td>
										<td>¥ 333.33</td>
										<td>IOS端</td>
										<td>18010001000</td>
										<td>乐虎自营</td>
										<td>已退款</td>
										<td>
											<a href="OrderDetails.html">查看</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!--退款订单-->
					</div>
					<!--分页器-->
					<div class="fixed">
						<div class="list-fenye">
							<span>共100</span>
							<span><em>1/5</em>页</span>
							<ul class="pagination">
								<li>
									<a href="#">&laquo;</a>
								</li>
								<li class="active">
									<a href="#">1</a>
								</li>
								<li>
									<a href="#">2</a>
								</li>
								<li>
									<a href="#">3</a>
								</li>
								<li>
									<a href="#">4</a>
								</li>
								<li>
									<a href="#">5</a>
								</li>
								<li>
									<a href="#">&raquo;</a>
								</li>
							</ul>
							<span>跳转到<input type="text"></span>
							<a href="javascript:;" class="btn btn-primary">确定</a>
						</div>
					</div>
					<!--/分页器-->
				</div>
				<!--订单列表-->
			</div>
		</div>
		<!--/订单管理-->
		<!-- 取消模态框（Modal） -->
		<div class="modal fade" id="Cancel" tabindex="-1" role="dialog" aria-labelledby="CancelLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="CancelLabel">取消订单</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-12 control-label">你确定要取消本次订单吗?</label>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary">确认</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!-- 取消模态框（Modal） -->
		<!--收到货款模态框模态框（Modal） -->
		<div class="modal fade" id="ReceiveHuo" tabindex="-1" role="dialog" aria-labelledby="ReceiveHuoLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="ReceiveHuoLabel">收到货款</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-3 control-label">收货说明:</label>
								<div class="col-sm-8">
									<textarea class="form-control"></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary">提交</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!--收到货款模态框模态框（Modal） -->
		<!--审核模态框模态框（Modal） -->
		<div class="modal fade" id="ToExamine" tabindex="-1" role="dialog" aria-labelledby="ToExamineLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="ToExamineLabel">审核商品</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-3 control-label">审核条件:</label>
								<div class="col-sm-8">
									<textarea class="form-control"></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary">审核通过</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">审核不通过</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!--审核模态框模态框（Modal） -->
		<!--备注模态框模态框（Modal） -->
		<div class="modal fade" id="Remarks" tabindex="-1" role="dialog" aria-labelledby="RemarksLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="RemarksLabel">备注信息</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-3 control-label">备注说明:</label>
								<div class="col-sm-8">
									<textarea class="form-control"></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary">确认</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!--备注模态框模态框（Modal） -->
		<!--直接完成模态框模态框（Modal） -->
		<div class="modal fade" id="DirectCompletion" tabindex="-1" role="dialog" aria-labelledby="DirectCompletionLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="DirectCompletionLabel">直接完成</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-3 control-label">完成原因:</label>
								<div class="col-sm-8">
									<textarea class="form-control"></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary">确认</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!--直接完成模态框模态框（Modal） -->
		<!-- 发货模态框（Modal） -->
		<div class="modal fade" id="DeliverGoods" tabindex="-1" role="dialog" aria-labelledby="DeliverGoodsLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="DeliverGoodsLabel">发货信息</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-3 control-label">物流公司:</label>
								<div class="col-md-9">
									<label class="radio-inline">
                                            <select class="form-control">
                                                <option value="0" selected="selected">京东仓库</option>
                                                <option value="1">顺风物流</option>
                                                <option value="1">韵达快递</option>
                                                <option value="1">圆通快递</option>
                                           </select>
                                        </label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">物流单号:</label>
								<div class="col-md-5">
									<input type="text" class="form-control" placeholder="217131329109749741">
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary">确认</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!-- 发货模态框（Modal） -->
		<!-- 修改物流模态框（Modal） -->
		<div class="modal fade" id="ModifyLogistics" tabindex="-1" role="dialog" aria-labelledby="ModifyLogisticsLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="ModifyLogisticsLabel">修改物流信息</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-3 control-label">物流公司:</label>
								<div class="col-md-9">
									<label class="radio-inline">
                                            <select class="form-control">
                                                <option value="0" selected="selected">京东仓库</option>
                                                <option value="1">顺风物流</option>
                                                <option value="1">韵达快递</option>
                                                <option value="1">圆通快递</option>
                                           </select>
                                        </label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">物流单号:</label>
								<div class="col-md-5">
									<input type="text" class="form-control" placeholder="217131329109749741">
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary">确认</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!-- 修改物流模态框（Modal） -->
	</body>
	<script src="../../scripts/plus/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/laydate.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/common.js" type="text/javascript" charset="utf-8"></script>

</html>