<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>汇银乐虎总后台管理系统-退货订单</title>
		<link href="../../style/plus/common.css" rel="stylesheet" type="text/css">
		<link href="../../style/plus/index.css" rel="stylesheet" type="text/css">
		<link href="../../style/plus/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="../../style/OrderManagement/ReturnOrder.css" />

	</head>

	<body>
		<!--退货订单-->
		<div class="common-view">
			<!--标题-->
			<p class="common-title">退货订单</p>
 			<div class="coupon">
				<!--退货订单查询-->
				<div class="coupon-search">
					<p>退货订单查询</p>
					<div class="coupon-search-item">
						<label>订单号：<input type="text"></label>
						<label><span>下单时间：</span><span><input type="text" style="width: 120px;">~<input type="text" style="width: 120px;"></span></label>
						<label>商家：<input type="text" style="width: 100px;"></label>
						<label>订单状态：
							<select>
			                    <option>未付款</option>
			                    <option>未审核</option>
			                    <option>代发货</option>
			                    <option>代收货</option>
			                    <option>已完成</option>
			                    <option>已取消</option>
                			</select>
						</label>
						<label>支付类型：
							<select>
			                    <option>支付宝</option>
			                    <option>微信</option>
			                    <option>银联在线</option>
 		                	</select>
						</label>
						<label>用户ID：<input type="text" style="width: 100px;"></label>
						<label>物流单号：<input type="text"></label>
						<label>商品名称：<input type="text"></label>
						<div class="coupon-submit">
							<a href="javascript:;">查询</a>
							<a href="javascript:;">导出</a>
						</div>
					</div>
				</div>
				<!--/退货订单查询-->
				<!--退货订单列表-->
				<div class="coupon-list">
					<p>退货订单列表</p>
 					<div class="tab-content">
						<div class="tab-pane fade in active" id="now">
							<table class="table table-condensed">
								<thead>
									<tr>
										<th class="col-md-2">订单号（交易号）</th>
										<th class="col-md-1">下单时间</th>
										<th class="col-md-1">支付类型</th>
										<th class="col-md-1">订单总额</th>
										<th class="col-md-1">订单来源</th>
										<th class="col-md-1">用户ID</th>
										<th class="col-md-1">商家</th>
										<th class="col-md-1">订单状态</th>
										<th class="col-md-3">操作</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>3452435234532445325 PT3452435234532445325
										</td>
										<td>2017.11.11 22:22:22
										</td>
										<td>支付宝</td>
										<td>¥ 333.33</td>
										<td>IOS端</td>
										<td>18010001000</td>
										<td>乐虎自营</td>
										<td>待审核</td>
										<td>
											<a href="OrderDetails.html">查看</a>
 										</td>
									</tr>
									<tr>
										<td>3452435234532445325 PT3452435234532445325
										</td>
										<td>2017.11.11 22:22:22
										</td>
										<td>支付宝</td>
										<td>¥ 333.33</td>
										<td>IOS端</td>
										<td>18010001000</td>
										<td>乐虎自营</td>
										<td>待审核</td>
										<td>
											<a href="OrderDetails.html">查看</a>
 										</td>
									</tr>
									<tr>
										<td>3452435234532445325 PT3452435234532445325
										</td>
										<td>2017.11.11 22:22:22
										</td>
										<td>支付宝</td>
										<td>¥ 333.33</td>
										<td>IOS端</td>
										<td>18010001000</td>
										<td>乐虎自营</td>
										<td>待审核</td>
										<td>
											<a href="OrderDetails.html">查看</a>
 										</td>
									</tr>
									<tr>
										<td>3452435234532445325 PT3452435234532445325
										</td>
										<td>2017.11.11 22:22:22
										</td>
										<td>支付宝</td>
										<td>¥ 333.33</td>
										<td>IOS端</td>
										<td>18010001000</td>
										<td>乐虎自营</td>
										<td>待审核</td>
										<td>
											<a href="OrderDetails.html">查看</a>
 										</td>
									</tr>
									<tr>
										<td>3452435234532445325 PT3452435234532445325
										</td>
										<td>2017.11.11 22:22:22
										</td>
										<td>支付宝</td>
										<td>¥ 333.33</td>
										<td>IOS端</td>
										<td>18010001000</td>
										<td>乐虎自营</td>
										<td>待审核</td>
										<td>
											<a href="OrderDetails.html">查看</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
 					</div>
 					<!--分页器-->
					<div class="coupon-list-fenye fixed">
						<div class="list-fenye">
							<span>共100</span>
							<span><em>1/5</em>页</span>
							<ul>
								<li>
									<a href="javascript:;">&laquo;</a>
								</li>
								<li>
									<a href="javascript:;" class="active">1</a>
								</li>
								<li>
									<a href="javascript:;">2</a>
								</li>
								<li>
									<a href="javascript:;">3</a>
								</li>
								<li>
									<a href="javascript:;">&raquo;</a>
								</li>
							</ul>
							<span>跳转到<input type="number"><a href="javascript:;">确定</a></span>
						</div>
					</div>
					<!--/分页器-->
				</div>
				<!--/退货订单列表-->
			</div>
		</div>
		 <!--退货订单--> 
	</body>
	<script src="../../scripts/plus/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/plus/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

</html>